[2016-06-14 18:44] nlsdfnbch opened #1 "Implement Symbol formatter for output of all clients"
Some changes have varying names for symbols (for example Kraken uses XBTEUR, instead of BTCUSD).

Implement a decorator ( ? ) taking care of this.

[2016-06-14 18:47] nlsdfnbch opened #2 "Refactor HTTP Clients Classes"
During development, I noticed various functions (and especially the initialisers) being redundant.

[2016-06-14 19:08] nlsdfnbch opened #3 "http/coincheck unclear endpoint for ETHJPY/ DAOJPY"
It seems coincheck doesn't have endpoint implemented for DAO / ETH pairs currently; all query seem to return the BTCJPY book.

[2016-06-15 07:14] nlsdfnbch commented on #1
Clarification: Stick to ISO format names, converting BTC to XBT, for example. Other Cryptocurrencies will have the X prefixed;

[2016-06-15 19:23] nlsdfnbch opened #4 "Clarify Ripple Withdrawal Params on Bitstamp"
https://www.bitstamp.net/api/
The withdrawal method currently takes no parameters; clarify if this endpoint is active / implemented w/ bitstamp

[2016-06-16 07:12] nlsdfnbch opened #5 "Implement more client.send() options"
As of now, all data received is pumped out via udp socket.

For convenience, this should feature the possibility of passing paths instead, so it saves the data to a file instead.

Although this might be in conflict with the postoffice module; this should handle this instead;

[2016-06-21 05:42] nlsdfnbch opened #6 "Add Error Checking Decorators"
Add decorators for http clients, to check for faulty queries and raise meaningful errors (using custom exceptions)

[2016-06-21 19:13] nlsdfnbch commented on #4
Fixed with this [commit ](https://github.com/nlsdfnbch/bitex/commit/fd89801af47f3f3b51de72dac19c036e49cf37d3)

[2016-06-21 19:13] #4 closed

[2016-06-22 10:53] nlsdfnbch opened #7 "Write decorator for http times"
currently, sent and received variables are written directly into code;
replace this with a @resp_timer decorator to remove redundant code from funcs and make them easier to read.

[2016-06-22 16:02] nlsdfnbch commented on #7
added decorator; implementing next

[2016-07-19 20:37] #5 closed

[2016-07-19 20:37] #6 closed

[2016-07-19 20:37] #7 closed

[2016-08-11 06:37] #1 closed

[2016-08-11 06:37] #2 closed

[2016-08-11 06:37] #3 closed

[2016-11-25 20:04] nlsdfnbch opened #9 "Implement Yunbi.withdraw()"
Figure out an implementation for withdrawal from yunbi, as API Docs are unclear

[2016-11-25 20:07] nlsdfnbch opened #10 "Handle BitEx Standard Methods which cannot be implemented"
Some exchanges do not offer some more advanced methods of the BitEx Standard Methods - for example withdraw() cannot be implemented for bitex.interfaces.CCEX.

Figure out if there's a more elegant way than the current `raise NotImplementedError()`

[2017-01-11 12:08] nlsdfnbch opened #11 "Supply Tests for Bitfinex Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:09] nlsdfnbch opened #12 "Supply Tests for Bitstamp Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:10] nlsdfnbch opened #13 "Supply Tests for Bittrex Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:10] nlsdfnbch opened #14 "Supply Tests for CCEX Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:11] nlsdfnbch opened #15 "Supply Tests for CoinCheck Formatters"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:11] nlsdfnbch opened #16 "Supply Tests for Cryptopia Formatters"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:12] nlsdfnbch opened #17 "Supply Tests for GDAX Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:12] nlsdfnbch opened #18 "Supply Tests for Gemini Formatters"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:13] nlsdfnbch opened #19 "Supply Tests for it-Bit Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:13] nlsdfnbch opened #20 "Supply Tests for Kraken Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:14] nlsdfnbch opened #21 "Supply Tests for OkCoin Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:14] nlsdfnbch opened #22 "Supply Tests for Poloniex Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:14] nlsdfnbch opened #23 "Supply Tests for QuadrigaCX Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:15] nlsdfnbch opened #24 "Supply Tests for Quoine Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:15] nlsdfnbch opened #25 "Supply Tests for RockTradingLTD Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:17] nlsdfnbch opened #26 "Supply Tests for Yunbi Formatter"
Check that all output received from standardized interface methods complies with the format as set in `bitex.formatters.base` doc strings.

Do this by writing sensible tests and committing them as part of the file `tests/formatters.py`.

[2017-01-11 12:27] nlsdfnbch opened #27 "Add BTC38 RESTAPI implementation"
Add an implementation of BTC38's API to `bitex.api`, including signature method.

[2017-01-11 12:28] nlsdfnbch opened #28 "Add BTCC RESTAPI implementation"
Add an implementation of BTCC's API to `bitex.api`, including signature method.

[2017-01-11 12:29] nlsdfnbch opened #29 "Add HitBTC RESTAPI implementation"
Add an implementation of HitBTC's API to `bitex.api`, including signature method.

[2017-01-11 12:30] nlsdfnbch opened #30 "Add Vaultoro RESTAPI implementation"
Add an implementation of Vaultoro's API to `bitex.api`, including signature method.

[2017-01-11 12:31] nlsdfnbch opened #31 "Add Bter RESTAPI implementation"
Add an implementation of Vaultoro's API to `bitex.api`, including signature method.

[2017-01-11 12:32] nlsdfnbch opened #32 "Add BTCIndonesia"
Add an implementation of Bitcoin Indonesia's API to `bitex.api`, including signature method.

[2017-01-13 09:26] nlsdfnbch opened #33 "Implement Code Review"
http://codereview.stackexchange.com/questions/148983/bitex-cryptocurrency-exchange-api-framework-for-python-round-2

Implement suggested Changes

[2017-01-13 09:27] nlsdfnbch opened #34 "Implement Code Review (Utils)"
http://codereview.stackexchange.com/questions/148123/bitex-cryptocurrency-exchange-api-framework-for-python

[2017-01-18 10:57] nlsdfnbch commented on #34
Dropping suggestion to replace `raise_for_status()`

[2017-01-27 08:44] #34 closed

[2017-01-27 08:50] nlsdfnbch commented on #33
Added changes

[2017-01-27 08:50] #33 closed

[2017-02-23 12:00] #29 closed

[2017-02-23 12:06] #30 closed

[2017-02-23 12:31] #31 closed

[2017-02-24 14:55] nlsdfnbch opened #35 "Replace 'amount' parameter with 'size'"
Example:
`def ask(self, pair, price, amount, **kwargs):`
to:
`def ask(self, pair, price, size, **kwargs):`

replace all instances. One pull request per interface.

[2017-02-27 08:38] nlsdfnbch commented on #35
Cheers! I added some comments to some commits you made - make sure you only replace the `amount` parameters and their subsequent occurrences - keywords in dictionaries need not be renamed. Otherwise the requests won't resolve!

[2017-02-27 08:52] nlsdfnbch opened #55 "Implement Pair Formatter for each interface"
A common problem with exchanges is the variety of ways they write their symbols.
An Example:

Poloniex:
BTC_LTC
Kraken:
LTCXBT, or XLTCXXBT
Bittrex:
LTC-BTC

in addition, some exchange APIs have case sensitive endpoints - Bitstamp for example, has endpoints that require lower-case letters, instead of caps.

In order to account for these, implement a method in each interface's formatter, which conv

[2017-02-27 09:52] nlsdfnbch commented on #55
See above commit as a reference - Kraken's pair format is also the most complex; the other exchanges are far simpler. It should give you a feel for what I look for in tests, documentation and code.

[2017-02-28 08:59] nlsdfnbch commented on #35
All done. Cheers, @bnsmith3!

[2017-02-28 08:59] #35 closed

[2017-03-17 09:22] nlsdfnbch opened #56 "Tests Not working with ABC"
Tests for the APIClient ABC currently not working, since we can't instantiate an ABC by itself.

[2017-03-20 07:52] nlsdfnbch opened #57 "Implement RTD and reStructured Text in Doc Strings"
Convert / adapt Doc strings of functions and classes in `bitex` classes and functions in a way that complies with RTD requirements.

- [ ] Convert Doc String Syntax to reStructuredText
- [ ] Build RTD HTMLs

[2017-03-20 10:51] nlsdfnbch commented on #10
leaving it as it is - catching the `notImplementedError` is the user's responsibility.

[2017-03-20 10:51] #10 closed

[2017-04-16 06:28] nlsdfnbch opened #58 "Pairformatter for Kraken needs DASH Edge Case Handling"
With [DASH now supported by Kraken](http://blog.kraken.com/post/159492923942/kraken-opens-dash-dash-trading), the currently implemented formatter needs a special case handler for this pair, since the currency does not use the prefix `X`, like other pairs (i.e. DASHEUR is denoted as `DASHZEUR` instead of `XDASHZEUR`, which would have been the expected behaviour).

Excerpt from [`/AssetPairs` endpoi

[2017-04-16 12:27] #58 closed

[2017-04-16 13:10] nlsdfnbch opened #59 "Overhaul Test Suite"
For the next Release, we're planning to implement a complete overhaul of our current test suite.

This includes a complete dummy data set for all standardized methods, which were implemented for an exchange - and of course implementation of test cases for all other parts of `BitEx`, including `bitex.api`.

This will be alot of work, but we feel it's necessary to further promote a hygenic, professi

[2017-04-16 13:11] #11 closed

[2017-04-16 13:11] #12 closed

[2017-04-16 13:11] #13 closed

[2017-04-16 13:11] #14 closed

[2017-04-16 13:11] #15 closed

[2017-04-16 13:11] #16 closed

[2017-04-16 13:11] #17 closed

[2017-04-16 13:11] #18 closed

[2017-04-16 13:11] #19 closed

[2017-04-16 13:11] #20 closed

[2017-04-16 13:11] #21 closed

[2017-04-16 13:11] #22 closed

[2017-04-16 13:11] #23 closed

[2017-04-16 13:11] #24 closed

[2017-04-16 13:11] #25 closed

[2017-04-16 13:11] #26 closed

[2017-04-16 13:25] nlsdfnbch opened #60 "Supply Test Data for Standardized Methods"
Add dummy data set for each exchange and the implemented standardized methods. These can simply be queries made to the api, dumped as a raw json.

make sure you commit each query call and its response as a separate file.

An example:

let's say you'd like to submit `Kraken`'s `Ticker` endpoint responses.

for the query at `https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR` you've got this:
[cod

[2017-04-16 13:38] nlsdfnbch opened #61 "Supply Tests and Data for Signature Procedures"
Write tests and supply data to check for successful authentication procedures for each exchange.

Test data should be a validated digested signature for each exchange, against which our `signature()` methods can be tested against. Be sure to include parameters (and make also VERY sure that you're **not** including your own private api keys and secret).

Dump them as raw json at `bitex/tests/test_d

[2017-04-20 17:28] nlsdfnbch opened #62 "Supply Basic Test Facilities to check current Build"
Should have been implemented from the start, but since this project started out during the first year of my apprenticeship.. well.

The Tests should check that no errors occur while importing the package to python, and ensure functionality on our end (endpoint methods should execute without raising programming-related errors).

- [x] Supply Package integrity tests
Package imports without errors, w

[2017-04-27 17:08] nlsdfnbch commented on #55
By default, pairs that have uneven length and no common separator (`QTUMETH`), should be split after their fourth index (`QTUM` and `ETH`).

Some pairs may no be split adequately this way, but implementing this requires up-to-date trading pair lists to check if there exists a trading pair with three letter base currency and 4 letter quote currency, and, if so, parse the user-passed pair adequately

[2017-04-27 18:44] nlsdfnbch commented on #55
[https://github.com/nlsdfnbch/bitex/commit/235315fb19acf8ddb82c7d7e2c71ffe576e8551b](https://github.com/nlsdfnbch/bitex/commit/235315fb19acf8ddb82c7d7e2c71ffe576e8551b)

[2017-04-27 18:44] #55 closed

[2017-05-08 11:30] nlsdfnbch opened #63 "Ensure unified layout for Websocket Data Tuples on Queue"
Websockets currently store tuples on their internal `data_q` in different ways

for example:

Gemini stores the timestamp as a separate item in the tuple:
`(endpoint, pair, data, ts)`

whereas Bitfinex stores the timestamp in an item with the data received:
`(endpoint, pair, (data, ts))`

This should be unified (preferably the Gemini way, since the ts is local and not part of the received data).

[2017-05-11 10:28] #63 closed

[2017-06-03 02:24] roeiba opened #66 "Add open_orders to BitEx Standardized Methods"
All major exchanges support a query which returns the opened orders for an account and sometimes for a specific market.

Usually the result from all exchanges is quite similar, and formatter can be easily created as well.

[2017-06-03 10:20] nlsdfnbch commented on #66
If this is true for all exchanges currently implemented, then you're absolutely right. I remember eliminating it from the initial methods, but I cannot remember why. I'll look into the matter -or, if you're willing to, you can add it yourself and submit a pull request.

Much appreciate the feedback!

[2017-06-03 19:56] roeiba commented on #66
E.g for poloniex implementation would be:

`
    @return_api_response(fmt.deposit)
    def open_orders(self, **kwargs):
        """
        https://bittrex.com/api/v1.1/market/getopenorders?apikey=API_KEY&market=BTC-LTC
        If market
        """
        return self.private_query('market/getopenorders', params=kwargs)
`

I've done this on my fork for multiple exchanges, I can upload merge reque

[2017-06-06 09:12] nlsdfnbch commented on #66
In order to add this method to the standardized methods, it should be available in at least 80% of the exchanges (if some don't implement it, that's fine; An example of this would be the `withdraw()` method, which isn't available on `Yunbi`, for example). So if you're willing to supply the rest of the exchanges as well, we'd love to have your PR.
Cheers!

[2017-07-27 17:57] nlsdfnbch commented on #9
`Withdraw()` was removed from standardized methods in `2.0`, hence implementation is low-priority.

[2017-07-27 17:57] #9 closed

[2017-07-27 17:57] nlsdfnbch commented on #56
ABC removed in `2.0`, test deprecated.

[2017-07-27 17:57] #56 closed

[2017-07-27 17:58] nlsdfnbch commented on #66
Added to standardized methods in `2.0`

[2017-07-27 17:58] #66 closed

[2017-08-06 15:49] HughMacdonald opened #68 "Cryptopia signing failure"
### Issue with authentication signing for Cryptopia under 1.1.3 (and 2.0)

# Steps to reproduce

With 1.1.3:

1)

    python3 -c "import bitex;c = bitex.Cryptopia(key='<key>', secret='<secret>' );print(c.balance().json())"

2)

    python3 -c "import bitex;c = bitex.Cryptopia(key='<key>', secret='<secret>' );print(c.balance(Currency='BTC')).json()"

With 2.0:

3)

    python3 -c "import bitex;c =

[2017-08-06 16:28] nlsdfnbch commented on #68
Hey Hugh!
Thanks for submitting this!
Please do submit a PR - no need in reinventing the wheel if you've already done so :) The help is much appreciated.

As for passing a currency in `2.0`, I'll look into that. Do the other private endpoints work for you on that branch?

[2017-08-06 17:07] HughMacdonald commented on #68
You're welcome

Sure - will do that now.

I didn't try any further in 2.0, as I got it working in 1.1.3. I was starting with the simplest thing I could do through the private API.

I've got a few things I'm trying to do here - I have 5 exchanges I want to be able to use, only 3 of which you support at the moment, plus one of the exchanges that you do support (Kraken) has a couple of NotImplemented

[2017-08-07 07:34] nlsdfnbch commented on #68
Yes, that's because at the time of writing the wrapper for `kraken`, those endpoints weren't implemented yet, if I remember correctly.

And yes, sure! submit away ;)

[2017-08-07 07:35] #68 closed

[2017-08-07 13:39] #57 closed

[2017-08-07 13:43] nlsdfnbch commented on #60
With `2.0`, this is no longer an issue

[2017-08-07 13:43] #60 closed

[2017-09-01 10:24] #59 closed

[2017-09-01 10:24] #61 closed

[2017-09-01 10:24] #62 closed

[2017-09-01 12:53] nlsdfnbch opened #73 "Add BitMex"
Url:
[https://www.bitmex.com/app/apiOverview](https://www.bitmex.com/app/apiOverview)

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 12:54] nlsdfnbch opened #74 "Add BitHumb"
Url:
[https://www.bithumb.com/u1/US127](https://www.bithumb.com/u1/US127)

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 12:57] nlsdfnbch opened #75 "Add CoinOne"
Url:
https://coinone.co.kr/developer/

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 12:58] nlsdfnbch opened #76 "Add Korbit"
Url:
https://apidocs.korbit.co.kr/

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 12:59] nlsdfnbch opened #77 "Add Huobi"
Url:
https://github.com/huobiapi/API_Docs/wiki

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 13:01] nlsdfnbch opened #78 "Add BitFlyer"
Url:
https://bitflyer.jp/API

Tasks:
- [ ] Tests
- [ ] REST Wrapper
- [ ] Pair Formatter
- [ ] Interface

[2017-09-01 13:01] nlsdfnbch opened #79 "Add Binance"
Url:
https://www.binance.com/restapipub.html

Tasks:
- [ ] Tests
- [x] REST Wrapper
- [x] Pair Formatter
- [x] Interface

[2017-09-01 13:03] #32 closed

[2017-09-01 13:05] #27 closed

[2017-09-01 13:07] nlsdfnbch opened #80 "Add CI Testing using Travis"
setup travis.yml to automate testing.

[2017-09-03 21:54] Mukz95 commented on #79
Hi, Interested in picking up this ticket. new to open source :)

[2017-09-04 09:20] nlsdfnbch commented on #79
Hey @Mukz95 !
Great to hear you want to contribute! I'd suggest to first get acquainted with the code base of `BitEx`. Take a look at how we do things around here. If you feel like you have a grasp of what's going on (or if you don't, do not hesitate to ask!) and fork the repository.
Start committing your code (be sure to read `[bitex/CONTRIBUTING.md](https://github.com/nlsdfnbch/bitex/blob/master

[2017-09-04 20:51] Mukz95 commented on #79
Yes just trying to understand the codebase, I was wondering
if [ https://github.com/Mukz95/bitex/blob/master/tests/formatters.py](url) tests pass? I was looking into the code didn't see how they were supposed to pass, unless i have missed something or are they meant to fail for now and pass when implementation takes place?

[2017-09-04 22:17] Mukz95 commented on #80
Hello, I have set up the travis build pipeline of my fork to automate tests with the yml configuration as a pull request. If you log into travis it should allow you to click the repo thus starting the worker builds 👍

[2017-09-05 06:35] nlsdfnbch commented on #79
Actually, I'm not sure - I've added them at some point and somewhat abandoned the tests on `master` right after - but these changes are all meant for the 2.0 release, hence you should develop from `master` (there everything *should* work - there's also more tests).

Sorry it's all a little confusing. Trying to clean it up for excellent people like you willing to contribute!

[2017-09-06 10:13] nlsdfnbch commented on #80
Purrs like a kitten. Fails like the deathstar, too. But that's ok. ;)

[2017-09-06 10:13] #80 closed

[2017-09-06 10:29] nlsdfnbch opened #83 "Add ReadTheDocs Integration using Sphinx"
The Docstrings use ReStructured text to document the library, and hence should be easily parsed by
`Sphinx`.

[2017-09-18 14:37] nlsdfnbch opened #87 "GDAX AuthBase __call__() throws type error"
As per mail from Matt Thompson:

[2017-09-18 16:02] #87 closed

[2017-10-04 11:40] nlsdfnbch opened #89 "Spell check all the things!"
There's likely a boat full of spelling errors and grammatical atrocities in the code - log messages, doc strings and comments all need to be reviewed.

Feel free to contribute!

[2017-10-04 12:03] nlsdfnbch commented on #89
@schamp , cool. cool cool cool.
One thing: make sure you do this on the release branch!
cheers,
Nils

[2017-10-04 14:16] haripalbaluja commented on #89
Kindly review PR #90  on spell check.

[2017-10-04 17:04] haripalbaluja commented on #89
I wanted to do this

[2017-10-07 10:07] haripalbaluja commented on #89
I have opened a new PR #93 on branch realease-2.0.0. You could check it.
Regards
Haripal

[2017-10-10 07:53] #89 closed

[2017-11-10 21:10] Razorbob opened #97 "Bitfinex Auth calls fail"
Hello, just wanted to point out, that bitfinex auth request fail.

`ERROR:bitex.utils:return_api_response: HTTPError for url https://api.bitfinex.com/v1/order/new
Traceback (most recent call last):
  File "C:\Users\xxx\AppData\Local\Programs\Python\Python36-32\lib\site-packages\bitex\utils.py", line 40, in wrapper
    r.raise_for_status()
  File "C:\Users\xxx\AppData\Local\Programs\Python\Python36

[2017-11-10 21:36] nlsdfnbch commented on #97
Hey @Razorbob,
Thanks for contributing!
What version are you using ? I'll look into this as soon as I can.

Cheers,
Nils

[2017-11-10 21:43] Razorbob commented on #97
Hello @nlsdfnbch ,
I installed with pip3.6.3 and got bitex version 1.2.1

I wrote a short script for authenticated Rest and WSS calls in python for apiv2 to assure that the keys are correct - so no issue there, but strangely I got the same error when I tried with v1. Maybe a bitfinex problem?

Liebe Grüße,
Vincent

[2017-11-11 08:37] nlsdfnbch commented on #97
@Razorbob ,
ok, to recap - it works on the 'v2' API but not v1 ? Or it doesnt work with either? Could you send me the code snippet you use ? (sans the keys, of course).

As long as the return code isn't a 5XX status code, it appears to be an issue with my code, unfortunately.

[2017-11-11 08:48] Razorbob commented on #97
@nlsdfnbch,
I just wrote the API Call for WSS and REST in a quick and dirty Script in my own - Not with bitex.

I can send you the codesnipped for v2 from my own Script - but it is nothing special. I will post it after I return.

Liebe Grüße

[2017-11-11 08:50] Razorbob commented on #97
Oh and i will try bitex v2, when i have Time again.

[2017-11-11 10:14] nlsdfnbch commented on #97
Hey @Razorbob,

Running this (Bitex 1.2.1):
[code]
works without issue for me.

[2017-11-11 10:34] Razorbob commented on #97
Hey @nlsdfnbch,

Can you try doing an ask or Bid?

[2017-11-11 11:03] nlsdfnbch commented on #97
Ah, I just noticed the error
You're APIkey does not have the required permissions.
Make sure you have read AND write access, if you want to place new order or cancel existing ones.

[2017-11-11 23:08] DickVicious opened #98 "SyntaxError: can use starred expression only as assignment target"
### Overview Description
I get an error when trying to import the Bitfinex API interface

# Steps to Reproduce

1. Clone repo
2. Navigate to tests directory
3. run `python api.py`

# Actual Results
[code]

# Expected Results
For the script to run, or at least get past the import function

# Reproducibility
Happens every time for me

# Additional Information:
I tried with `pip install bitex` as wel

[2017-11-11 23:19] Razorbob commented on #97
Hello @nlsdfnbch
I am sorry, but I am srsly getting this on the code you proposed:

`ERROR:bitex.utils:return_api_response: HTTPError for url https://api.bitfinex.com/v1/balances
Traceback (most recent call last):
  File "C:\Users\z002tk3x\AppData\Local\Programs\Python\Python36-32\lib\site-packages\bitex\utils.py", line 40, in wrapp
er
    r.raise_for_status()
  File "C:\Users\z002tk3x\AppData\Loc

[2017-11-11 23:22] Razorbob commented on #97
import requests
import json
import base64
import hashlib
import hmac
import websockets
import asyncio
import os
import time

[2017-11-12 06:12] nlsdfnbch commented on #97
Hey @Razorbob ,
Thaf second log had a different error code - could you post the json value of it as well?

[2017-11-12 06:14] nlsdfnbch commented on #97
Also,  just to clarify - the client you're using accesses the REST API, just to clear that up :)

[2017-11-12 06:39] nlsdfnbch commented on #98
Hey @DickVicious,
`bitex` only supports python versions `3.5+`.
the unpacking you see there is a feature introduced in 3.5. You're wlcome to submit a PR that replaces this, but support for earlier Python versions is not on my road map.

Sorry!

Nils

[2017-11-12 06:39] #98 closed

[2017-11-12 08:02] Razorbob commented on #97
Hey @nlsdfnbch,
The first error i was getting with loading a keyfile:

`c = Bitfinex(key_file=keyfile)`

which was simply structured like this (I think this was your Documentation of Bitex):
[code]
The second error is constantly showing, if i call it like this:
`c = Bitfinex(key,  secret)`

As for the example code I posted, it was just some quick test if the keys work and since v2 REST API has no

[2017-11-12 08:02] Razorbob commented on #97
And I missclicked, sorry didn't want to close the issue.

[2017-11-12 09:19] nlsdfnbch commented on #97
@Razorbob, v2 REST isn't supported by bitex 1.2.x anyway.

Alright, since somethings' amiss, try running this:

[code]
Keep the `key` and `secret` and upload the contents of `main.log`, please. It should look something like this:

[code]

[2017-11-12 14:19] Razorbob commented on #97
@nlsdfnbch

Here is the Log:
[code]

I tried it out with my api keys as well, also yields a 200

Regards

[2017-11-12 19:49] nlsdfnbch commented on #97
Hm. Then this issue is resolved, no? Did you try the other methods as well?

[2017-11-13 07:21] nlsdfnbch opened #100 "Add deprecation notice to current release"
Since 2.0 is slowly but steadily closing in on release,  a deprecation notice should be set on the 1.2.x version on pypi.
Perhaps this will promote testing the beta as well.

[2017-11-13 10:51] #100 closed

[2017-11-13 17:40] Razorbob commented on #97
@nlsdfnbch
Not really - getting Orders have been possible before. I tried with my key, because your keys dont have write permissions on orders it seems.

I tried this :
[code]

with that error :
[code]

[2017-11-14 08:36] nlsdfnbch commented on #97
Ok, so I've had [a similar issue](https://github.com/nlsdfnbch/btfxwss/issues/26) in `btfxwss`, which was due to too many successive calls to authenticated endpoints within one second. Since this does not appear to be the case here, I doubt this may be the issue. However, I will implement the same fix for this, and see if that takes care of it.

[2017-11-14 08:54] nlsdfnbch opened #102 "Load API Configurations from .ini file"
Currently, configurations are hard-coded (API version, url, documentation links) in the source code.

Instead, let this be loaded from a config file.

[2017-11-14 08:56] nlsdfnbch opened #103 "Load Credentials from file using configParser module"
While the current implementation works, it is not very straightforward. Use the `configParser` module instead to read out a config file, where users can store IDs, keys and secrets as a `key=value` pair.

[2017-11-14 15:10] pchandra-uchicago opened #104 "Post message failure"
Hi Nils,

I am using the rest api v1 to fetch the order status/order history. However I am getting an error
{"message":"Nonce is too small."}. The 'GET' messages work fine though.  I am guessing the multiplier in  nonce() needs to be a bigger number. Am I correct ? I have attached the logs below for your reference.

Thanks
Prakash
[test.log](https://github.com/nlsdfnbch/bitex/files/1471322/test.lo

[2017-11-14 17:35] nlsdfnbch commented on #104
@pchandra-uchicago,

Practically yes, the `nonce` generated appears to be too small. However, I have implemented the nonce as close as is possible to the javascript implementation (which takes a unix timestamp with millisecond resolution). I have uploaded this fix to production, so you can see if this resolves this issue.

You can, of course, try to manually multiplay by `100000` instead of the cu

[2017-11-14 17:35] #104 closed

[2017-11-14 18:42] pchandra-uchicago commented on #97
@nlsdfnbch  - I still have have the same issue after upgrading to latest update from production. Below is the code I am executing and have attached the logs

`from bitex.api.REST import BitfinexREST

k = BitfinexREST()
k.load_key('bitfinex.txt')  # loads key and secret from given file;

# Query a private (authenticated) endpoint
status = k.query('POST', 'orders', authenticate=True)
print(status.te

[2017-11-14 19:09] nlsdfnbch commented on #97
Hm. I cannot replicate this error.

[code]

calling `Bitfinex.orders()` works fine for me.
Which indicates that the general authentication process is solid in principle; unfortunately, that doesn't solve your issue.
However, without being able to replicate this error, I cannot solve this.

[2017-11-14 19:30] #102 closed

[2017-11-14 19:32] #103 closed

[2017-11-14 19:44] pchandra-uchicago commented on #97
How are you able to call Bitfinex.orders() ? Do you see anything wrong with the code I posted above. The .txt file has two lines one pertaining to key and secret.

[2017-11-14 20:32] nlsdfnbch commented on #97
Code `200` is the HTTP Request Statuscode - 200 indicates that the request was successful and no errors occurred. A Code `4xx` indicates that there was a problem with the request.
This particular difference in our logs is what makes this very difficult to reproduce - since we're using the same code base, the only other difference must therefore be our input. Which in the case of `orders()` is exac

[2017-11-15 00:41] pchandra-uchicago commented on #97
@nlsdfnbch  - When I use your key, it works. Probably there is an issue with my account key. I will try again with new set of key and secret.

Thanks

[2017-11-17 12:22] nlsdfnbch commented on #83
Docs are now online [here](http://bitex.readthedocs.io/en/release-2.0.0/)

[2017-11-17 12:22] #83 closed

[2017-11-17 21:39] JBaczuk opened #105 "Poloniex WSS ('WebSocket connection upgrade failed (429 - TooManyRequests)')"
### Poloniex WSS Error

# Steps to Reproduce
Python 3 in conda environment on Jupyter

The following code:
[code]

# Actual Results

Produced:
[code]

# Expected Results

A feed similar to Gemini

# Reproducibility

Does it every time

# Additional Information:

I found this module that appears to work, but I'm not sure about the approach if it fits the goals of this repo: [python-poloniex/](https

[2017-11-17 23:45] nlsdfnbch commented on #105
Hey @JBaczuk,
the above log indicates that you've tried to connect too often. But I'm going to guess it originally is caused by a failed SSL handshake.

As for the `websocket-client` library, I'm already using it where possible. However, the API endpoint is different for this library from the one you mention. That's why `python-poloniex` can use the websocket client.
The WS API at `api.poloniex.co

[2017-11-20 20:48] pchandra-uchicago commented on #97
@nlsdfnbch  - I still have the same error {Nonce is too small'}. Not sure what's going wrong.

I have the following nonce() function, which I think is good enough to generate large number.
`str(round(100000 * time.time())) `

[2017-11-21 08:41] nlsdfnbch commented on #97
@pchandra-uchicago ,
I need reproducible code. As you have already mentioned, my key and secret work for you, which indicates that this isn't a problem with `btfxwss`. Please contact support at Bitfinex and see if they can help with this.

[2017-11-21 08:43] #105 closed

[2017-11-21 19:02] abb152 commented on #97
@nlsdfnbch - I tried your lib for bitfinex to post order. I was always getting 400 with message {Nonce is too small'}. I looked up a bit and found the currect nonce needs to be multiplied by a factor(20 worked for me).
I extended your classes to make them work for me
[code]

Seems this issue is there with official bitfinex node api as well(but the allow us to pass custom nonce functions)

[2017-11-21 20:17] nlsdfnbch commented on #97
@abb152, where did you find this information?

Their API documentation uses a unix timestamp with millisecond resolution (which is what the library currently employs).

Unfortunately Bitfinex hasn't answered any of my tickets regarding this issue, which makes it quite frustrating to fix.

[2017-11-22 10:14] fieldfoxWim opened #106 "Bitfinex supported symbols don't match the formatter"
Hi
I was looking for an exchange wrapper like this. Because of the lots of "BETA" states in the master I started with the DEV, and stumbled on this issue:

### Overview Description
Can 't get the ticker from Bitfinex, for pairs, because the formatting of the /symbols call does not match the formatter

# Steps to Reproduce

1. Create Bitfinex instance
2. Call ticker() for ETHBTC

# Actual Results
A

[2017-11-22 10:33] nlsdfnbch commented on #106
Hey @fieldfoxWim,

thanks for contributing! How are you installing the project ? If you're installing using the repo using the `dev` branch, try the `pip install --pre bitex` and let me know if the issue is resolved. That's the current beta. If you're alread using that, could you show me your code?

Cheers,
Nils

[2017-11-22 16:57] abb152 commented on #97
@nlsdfnbch [](https://github.com/askmike/gekko/issues/595)

Here a guy mentioned this:

[code]

The nonce i generated was around 15XXXXXXXXXXX so i thought of multiplying with a factor and it worked

[2017-11-22 19:28] fieldfoxWim commented on #106
Hey Nils

I tested both:
- downloading the dev branch
- installing `pip install --pre bitex`

Both with the same exception

This is my code:

`from bitex import Bitfinex, HitBTC
from bitex.pairs import BTCUSD, ETHBTC, LTCBTC, ETHUSD

def main():
    b = Bitfinex(config="auth/bitfinex.ini")
    response = b.ticker(ETHBTC)
    print(response.content)

if __name__ == "__main__":
    main()`

[2017-11-22 20:39] fieldfoxWim opened #107 "Formatted response - no longer there"
Hi Nils

I notice that in the master there are formatters to unify the different responses of the exchanges.
However in the release and dev, that concept is completely gone. Only the pairs are formatted.
Is this intended? Is it awaiting to be re-implemented?
What is the intention.

I am just getting familiar with your codebase, considering to contribute while I'm testing.

The sphinx docs can use

[2017-11-22 21:21] nlsdfnbch commented on #107
Hey @fieldfoxWim,
sure thing!

In principal, I'm trying my best (that is, when I'm not too lazy or too hectic) to follow [nvie.com's branching model](http://nvie.com/posts/a-successful-git-branching-model/).
That means, `master` contains the latest stable release, and only receives hotfixes; `dev` is the active development branch and represents a `nightly` build (I'm currently not deploying this b

[2017-11-22 21:22] nlsdfnbch commented on #106
Curious. It may be that the pairs aren't pulled from bitfinex correctly, or that indeed the formatter is wrong. I'll have a look at this tomorrow morning and let you know!

[2017-11-23 10:18] fieldfoxWim commented on #107
Hi Nils

Thanks for your elaborate response.

A few remarks/questions

I also try to follow the branching model you mention as much as possible. However it seems odd to me why you did not do the rewrite of the master in the DEV branch, or even a Feature branch.
Cause I expect merging the Master into the DEV branch will not be that straighforward.
If I would contribute, I would normally make a feat

[2017-11-23 10:24] nlsdfnbch commented on #107
@fieldfoxWim,
You would expect that, and rightly so. The truth is that I've been writing and merging code for so long into `release-2.0.0`, that this is practically the dev branch. It's what it started from, originally. I simply branched off `release` too early.`
I will merge it back into dev today and get that cleared up.

I'd like to autogenerate the reference, yes - but feel free to write any o

[2017-11-24 00:37] fieldfoxWim commented on #107
Hi Nils

Thanks for the branch cleanup (y)
I forked your repo and started writing docs. I will create PR when it is a bit more mature.

last question before closing this discussion: are your test actually all green?
for me most of them fail, among them even the #106 bug I reported is clearly there as well...

Best regards

[2017-11-24 06:43] nlsdfnbch commented on #107
They are not :'(
The problem there being that the unit tests aren't written correctly (as I have learned from various articles and finally the great fireball they fail into currently) - I'm currently querying the real APIs, which I initially thought is a good idea, since I need to verify the authentication methods.
However, it turned out they often aren't reachable, so tests that pass one day, may

[2017-11-24 06:47] nlsdfnbch commented on #106
Source of the problem:
The symbols are pulled correctly, but the PairFormatter for bitfinex returns the pairs in Caps, while the symbols pulled via the Interface class are lower-case.
This is technically ok - both upper and lower case versions of pairs are accepted by the API, but the `check_pairs` decorator does not know this. so the bitfinex `format_for` call needs to be adjusted.

[2017-11-24 06:56] nlsdfnbch opened #108 "Mock API calls instead of direct calls"
The tests currently send requests to the real thing. This exposes the test stage to code `500` and `400`, which may be caused by dropped connections or too many requests.

Use mock classes to simulate API calls.

[2017-11-24 09:34] nlsdfnbch opened #109 "Fix up Travis YML to properly test, build and deploy"
Following issues need to be resolved:

- [x] 1. Execute test suite using the `nose` runner and coverage properly
- [x] 2. Execute deploy stage whenever a tag is pushed to `master`, and ONLY then.
- [x] 3. Execute pre-release builds, if a `release` branch is available, and upload it to pypi.
- [x] 4. Execute nightly builds from `dev`, once a day and upload to pypi.

[2017-11-24 10:52] #109 closed

[2017-11-24 13:40] nlsdfnbch opened #110 "Automatic versioning for master, dev, and release branches"
- [ ] Version `Release-Candidates`, suffixed with `rc`, by using the tag pushed from `dev` to `origin` (`git push origin <tag>`)
- [ ] Version Nightly builds by using the version in `setup.py` and suffixing it with the current YearMonthDay when building via cronjob, once a day.
- [ ] Deploy from `master` by using the setup.py when a tag is pushed from `master` to `origin` (standard upload procedur

[2017-11-24 14:09] nlsdfnbch commented on #110
110.1 and 110.3 aren't possible with travis, since originating branches are not available when a tag is pushed.
However, since we can access the tag name with `$TRAVIS_TAG` we can simply check this, in order to deduce what kind of deploy should be issued.

[2017-12-01 11:23] paragonjh opened #111 "Bittrex Ticker Api using Error"
Hello, I'm developer in korea.
Thanks for creating an easy to use API.

I want to report and report a bug when using the Bittrex API.

Bittrex's Ticker API usage seems to be wrong.
I think, API call "getticker" instead of "getmarketsummary".

/public/getmarketsummary
=> Used to get the last 24 hour summary of all active exchanges

/public/getticker
=> Used to get the current tick values for a mark

[2017-12-01 12:12] nlsdfnbch commented on #111
Hey @paragonjh,
thanks for contributing! I'm glad you've found the project useful.
Regarding your issue, this was intentional. The `getticker` endpoint offers little data, while `getmarketsummary` returns not only the top level of the market's book, but also candle data (`ohlc`), the market volume, order count for each side of the book, as well as an actual server-created timestamp of the data.

W

[2017-12-01 12:12] #111 closed

[2017-12-04 13:09] nlsdfnbch commented on #108
For mocking API Responses, see this SO thread:
https://stackoverflow.com/a/28507806/5413116

[2017-12-05 13:48] xperimentz opened #112 "HitBtc Authorization Error"
requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url

[2017-12-05 14:19] nlsdfnbch commented on #112
You'll have to supply more information than that. All I can tell from this is that you're accessing an URL which is not authorized for you. If you're using api keys, this may indicate that you do not have the required permissions to access the url.

[2017-12-06 10:18] mejmo opened #113 "How to catch exceptions in Websocket thread?"
I am gathering data from Bitfinex so it is important for me to have stable connection. However Bitfinex is having problems in peaks and during these moments Bitfinex connector stops always working.

One of exceptions is following:

[code]
Second exception occured during `_handle_pong`, unfortunately I did not save it

How can I catch these exception so that I could restart the connection? Is there

[2017-12-06 11:27] nlsdfnbch commented on #113
Hey @mejmo ,
thanks for submitting this!
It's important to know that the websocket clients in `BitEx` are no longer maintained and are deprecated.

If you're looking for a Bitfinex Client, check out [BtfxWss](https://github.com/nlsdfnbch/btfxwss) though - this should handle dropped reconnects and the key error shouldn't happen either.

I actively maintain the code base there, so I can help you out

[2017-12-06 11:27] #113 closed

[2017-12-06 16:48] AndrewLCarpenter commented on #108
Hi there! Have you checked out [vcrpy](http://vcrpy.readthedocs.io/en/latest/usage.html)?

I use this for all of my tests, and it works pretty great (even with aiohttp).

[2017-12-06 21:00] nlsdfnbch commented on #108
@AndrewLCarpenter , thanks for the pointer! I have not heard of this, but it looks really neat! I'll check it out in detail.

Thanks!

[2017-12-07 10:37] xperimentz commented on #112
The response of hitbtc.balance().json() is :
{'code': 'InvalidContent', 'message': 'Missing apikey parameter'}

[2017-12-07 10:40] nlsdfnbch commented on #112
Well, did you supply the `key` parameter on instantiation? What does your code look like?

[2017-12-07 10:46] xperimentz commented on #112
`hitbtc = HitBtc(key_file='./keys/hitbtc.key')`

[2017-12-07 10:48] nlsdfnbch commented on #112
..and what does your `hitbtc.key` file look like?

[2017-12-07 10:49] xperimentz commented on #112
`c0e42c4f722dd5fcf5f93795754db073`

[2017-12-07 11:21] Othosbro opened #114 "HitBtc Missing apikey parameter"
I try
`hitbtc = HitBtc(key_file='./keys/hitbtc.key');
hitbtc.deposit_address('BTC').json()` but the response is
`{'code': 'InvalidContent', 'message': 'Missing apikey parameter'}`
api and secret keys installed properly.

[2017-12-07 11:45] Othosbro commented on #114
Standard `pip` release. Just `pip3 install bitex`

[2017-12-07 11:48] nlsdfnbch commented on #114
Please run your code with the log level set to `logging.DEBUG` and post the log (make sure to replace your key / secret before uploading).

[code]

[2017-12-07 11:53] Othosbro commented on #114
`DEBUG:bitex.api.REST.api:Making request to: http://api.hitbtc.com/api//1/trading/balance, kwargs: {'headers': {'Api-signature': 'cc657984210c323f6ab8a4c8ede97f4fd78379a964e6064c5432cb120b56f1fba9f900213f4d108a3019b420b4d9c2ad6742b5cf1e15ebf7ee2daaf32f7e1183'}, 'data': {}}
DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): api.hitbtc.com
DEBUG:urllib3.connectionpool:http://api.hitbtc.c

[2017-12-07 11:59] nlsdfnbch commented on #114
Yup, that parameter is definitely missing. Patching it now, give me a few minutes.

[2017-12-07 12:01] Othosbro commented on #114
The problem with poloniex  also exists.
I try `poloniex.balance().json()` and response is:
`{'error': 'Nonce must be greater than 3025292569069240. You provided 302529601757660.'}`
Fix it, please

[2017-12-07 12:03] nlsdfnbch commented on #114
Is this a constantly happening issue? Or sporadically?

[2017-12-07 12:07] Othosbro commented on #114
Constantly.
`def nonce(self):
        """
        Creates a Nonce value for signature generation
        :return:
        """
        return str(round(100000 * time.time()) * 2)`
Change 2 to 20 and it works.
The problem with hitbtc apikey is not solved (

[2017-12-07 12:10] Othosbro commented on #114
Here is example of hitbtc api request
https://gist.github.com/hitbtc-com/e265a49c38a86c610294

[2017-12-07 12:16] nlsdfnbch commented on #114
I can't just increase the factor - there's similar issues for other exchanges, but that's not an error in code. It may work today, but perhaps next week I need to increase it again. the multiplication by `1000` was already one such fix.

If you require the Nonce to be multiplied by a bigger factor, please modify this code yourself.

[2017-12-07 12:21] Othosbro commented on #114
I modified `hitbtc.py` with respect to link above. Now I have another error:
'{'error': {'code': 1002, 'description': '', 'message': 'Authorization failed'}}'

DEBUG:bitex.api.REST.api:Making request to: http://api.hitbtc.com/api/1/trading/balance?apikey=c0e42c4f722dd5fcf5f93795754db073&nonce=3025298037383640, kwargs: {'data': {}, 'headers': {'Api-signature': 'c371286c28013f327bdca64cd98cebca5e6ab

[2017-12-07 12:36] nlsdfnbch commented on #114
If you're using the gist's code, this indicates that your API key doesn't have the required permissions. If that isn't the case, you'll have to take it up with hitbtc directly.

[2017-12-07 12:36] #114 closed

[2017-12-07 13:11] Othosbro commented on #114
The problem is not solved.
`DEBUG:bitex.api.REST.api:Making request to: http://api.hitbtc.com/api//1/trading/balancenonce=302530441189250&apikey=7c36d31206a7b367dd7f1ed0e9e5fb66, kwargs: {'headers': {'Api-signature': '0c2035c35a94a563cedf8ba7c231cf6f2a72adf1c4aa0c9c226e26d434005ef8658e18af0d130bbda839d6f7bef413868de1b0bee7434e85f223e81250f6ccb4'}, 'data': {'nonce': '302530441189250', 'apikey': '7c

[2017-12-07 13:28] Othosbro opened #115 "HitBtc error"
DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): api.hitbtc.com
DEBUG:urllib3.connectionpool:http://api.hitbtc.com:80 "GET /api//1/trading/balancenonce=302530441189250&apikey=7c36d31206a7b367dd7f1ed0e9e5fb66 HTTP/1.1" 404 139
DEBUG:bitex.api.REST.api:Made GET request made to http://api.hitbtc.com/api//1/trading/balancenonce=302530441189250&apikey=7c36d31206a7b367dd7f1ed0e9e5fb66, wit

[2017-12-07 13:44] Othosbro commented on #115
No. Цhen you have time, please check the correctness of the code

[2017-12-07 13:48] Othosbro commented on #115
According to https://bitcointalk.org/index.php?topic=706205.0
the signature must be generated only with /api/1/trading/balance?nonce=NONCE&apikey=APIKEY

But I still have `'message': 'Authorization failed'`

[2017-12-07 13:50] nlsdfnbch commented on #115
I can't check the authenticated endpoints, as Im not registered with HitBTC. Your help is appreciated.

[2017-12-07 13:50] Othosbro commented on #115
msg should look like `msg = '/api'+endpoint_path + "?"+'nonce='+nonce+'&apikey='+self.key`
but the error exists (`'message': 'Authorization failed'`)

[2017-12-07 13:52] nlsdfnbch commented on #115
If you look here:
[code]
You can see this is what I'm doing (except for the missing `?` after `balance`, which I fixes as I said above).

[2017-12-12 17:19] ckrmml opened #116 "TypeError: Can't instantiate abstract class Bitfinex with abstract methods is_supported"
Been fiddling around with bitex, probably i'm just to stupid to get it right, but i get this error

[code]

with this code

[code]

using latest dev-branch, pulled as zip from github

[2017-12-12 17:57] ckrmml commented on #116
tried `pip install --pre bitex`, works now. Encountered #106 and added the fix by hand. works

[2017-12-12 17:57] #116 closed

[2017-12-12 18:30] nlsdfnbch commented on #116
The above error stems from the fact that I haven't updated the interfaces yet - the base classes are now abstract base classes and need to implement all of its abstract methods. Since that isn't the case yet, you get the error.

Thanks for trying out bitex!

[2017-12-12 18:31] #106 closed

[2017-12-15 16:18] dicecko opened #118 "SyntaxError: can use starred expression only as assignment target"
The API clients available in this package are deprecated and will be no longer available in their current form starting with version 2.0!
Traceback (most recent call last):
  File "bitex2.py", line 51, in <module>
    from bitex import Kraken
  File "/usr/local/lib/python3.4/dist-packages/bitex/__init__.py", line 5, in <module>
    from bitex.interfaces import Kraken, Bitfinex, Bitstamp, CCEX, Coi

[2017-12-15 19:56] HughMacdonald commented on #79
@Mukz95 are you planning on continuing work on this one? If not, I would be interested in picking up the rest of this

[2017-12-15 20:06] #115 closed

[2017-12-15 20:44] HughMacdonald commented on #79
Actually... I'm afraid that I already started on this one.

I've got the REST part working - I need to work through the interface class now.

@nlsdfnbch would you like me to PR the REST part, or wait until I can do both the REST and the Interface?

[2017-12-15 21:08] nlsdfnbch commented on #79
@HughMacdonald , either way is fine!

[2017-12-15 21:10] HughMacdonald opened #119 "Dev branch : Unnecessarily abstract methods"
Should Interface.is_supported() and Interface.request() be defined as abstract? Both have implementations in the abstract definition, and I've found that most (if not all) interfaces don't work because of is_supported() missing. Some (Cryptopia, for example) doesn't have either method defined, which should be fine.

[2017-12-15 21:14] HughMacdonald commented on #79
Done. Initial REST api implementation in #120

[2017-12-15 22:26] HughMacdonald commented on #79
How do you like to deal with additional required parameters to methods?

For example, both order_status and cancel_order on Binance are going to require the pair that the order is on. Am I okay to add this to the method definition, or do you want to ensure that all method definitions are identical between exchanges, and insist on the extra parameters being passed in through kwargs?

Thanks

[2017-12-15 23:14] HughMacdonald opened #121 "Dev branch : Accessing method_verb from sign_request_kwargs()"
In doing an implementation of the Binance interface, I've come across something that may well be a bug at their end, but one possible work-around would be to change `POST` and `DELETE` requests from putting the parameters in the query string to putting them in the request body.

However, `GET` requests require the parameters to be in the query string, so this would mean that `sign_request_kwargs()

[2017-12-16 00:31] HughMacdonald commented on #79
Actually, now all in #122. I took it in a direction that I felt okay with - happy to change it if you'd prefer.

Binance has the basic methods implemented, but I want to go through and put additional methods in place.

[2017-12-16 13:24] nlsdfnbch commented on #121
The second option is definitely preferred- it's exchange specific, so let's make that implementation so as well.

[2017-12-16 13:29] nlsdfnbch commented on #119
You're right. I guess I went a little overboard with the abstract decorator there! 😃

[2017-12-16 13:34] nlsdfnbch commented on #79
Merged! Thanks @HughMacdonald!

[2017-12-16 13:41] HughMacdonald commented on #121
That's what I went for in #122, so great.

[2017-12-16 13:41] #121 closed

[2017-12-16 16:46] bebosudo opened #123 "Suggestions on where to find a list of currency pairs for each exchange?"
Hi Nils,
thanks for your work on this library.
I'm using it only for getting tickers from different exchanges ATM, and I had some hard time in finding the correct pairs and format that each exchange API requires (and many still don't work).

Do you have any suggestion on a link of where to find the correct pairs?

Moreover, it seems that any pair in Poloniex is wrong.
[code]

I'm going to manually

[2017-12-17 08:43] nlsdfnbch commented on #123
Hey @bebosudo ,
Thanks for contributing!

The formatting issue has been handled in the current `dev` branch - it introduces a formatter class which takes care of formatting a currency pair correctly depending on the exchange. Have a look at that! You can install it via `pip install --pre bitex`. Just be mindful that some things still have some hiccups.

Finding the current currency pairs available

[2017-12-17 08:44] #119 closed

[2017-12-17 09:24] nlsdfnbch commented on #108
@AndrewLCarpenter,

perhaps you could shine some light on the advantages of the above library; I've had a chance to look through this, and I'm interested in giving this a shot - I like trying out new approaches, but I'm not sure how using `vcrpy` improves on other approaches. Here's how I would implement it without it:

## Interface tests
For the interface classes, a mock would be sufficient IMO -

[2017-12-17 13:04] bebosudo commented on #123
Thanks for your response Nils.

I'm trying out the dev release, 2.0.0b4, and the first thing I noticed is that there are no more the Gemini and GDAX objects inside the main package (RockTradingLtd has been changed to TheRockTrading, while the REST interface is called RockTradingREST ... maybe adding 'The' in front of the REST interface could make things clearer?).

I tried the example in the READM

[2017-12-17 16:16] nlsdfnbch commented on #123
No, but I can tell why this confuses you. While every other exchange understood the principle of `base`and `quote` currency, Poloniex elected to just not do that. So while the pairs in the `BTC` market are quoted in `BTC` and their `base` currency is the respective alt coin, Poloniex describes them the other way around- so instead of `BaseCurrency_QuoteCurrency`, they write it `QuoteCurrency_BaseC

[2017-12-17 22:26] bebosudo commented on #123
I knew this, and I still have some doubts about the Poloniex pair formatter.

[code]

As you said, shouldn't the formatter return the two values swapped? Or does it happen only when a pair is known to be traded on the platform? because e.g. on poloniex they don't trade USD, hence the pair doesn't get swapped?

Sorry, didn't find any reference to the fact that there were already some pairs. I creat

[2017-12-17 22:41] bebosudo commented on #107
Hey there, I'd really want to re-introduce the `formatted` property to the `ticker` method.

@fieldfoxWim have you already started working on it? Otherwise I'll try.

A quick and dirty solution could be to use `setattr` on the request returned by `ticker`, something like:
[code]

What do you think @nlsdfnbch?

Otherwise we could create a class `FormattedResponse` which wraps the response and provi

[2017-12-18 07:02] nlsdfnbch commented on #123
You don't have to submit a PR per exchange but per code change type - so for example,  one PR if you change the signature for the ticker endpoint across all exchanges, one PR for updated docstrings, etc. Its important to keep commits and PRs as atomic as possible.

As for the pairs and poloniex formatter - that's why I said that you should familiarise yourself with the code base. As for the poloni

[2017-12-18 07:09] nlsdfnbch commented on #107
Using `setattr` would be similar to my previous approach In  the current master branch. The problem is that you can't just extend the Response object since it must be built from an already existing requests.Response instance. This requires you to use `getattr` and `setattr` in the constructor, which works but isn't very elegant.
Also,  the problem of a common set of fields across all exchanges rem

[2017-12-18 09:24] mattisback commented on #107
I'd be interested in helping out with this as well.
Is there any reason you need to return a response object? Could there not be some other object that gets returned?  Eg. `BitexResponse` which contains the response as a property and has methods like `formatted`?

I'll take a look at the lack of standard fields across exchanges.  See what similarities there are.  It might be something worth creati

[2017-12-18 09:30] bebosudo commented on #123
Got it, thanks (I'm almost new to contributing to open source projects).

Thanks, I thought there should have been some magic behind that behavior ;-)

I'm going to close this issue, because I think further comments should go in the discussion of PR #127 .

[2017-12-18 09:30] #123 closed

[2017-12-18 09:34] nlsdfnbch commented on #107
It seemed silly to create a class for a 2-field container, so Instead I opted to go the other way around. But coming to think of it, that may perhaps be alot simpler, afterall. We could expose the `requests.Response` attributes via `@property` decorators.

The reason I want to stick to a `requests.Response` object is that this is just an API wrapper. It should return the data as purely as possible

[2017-12-18 09:39] nlsdfnbch opened #129 "Implement BitexResponse object, including formatted Exchange data"
As discussed in #107 , the addition of a `ResponseObject` is favorable.

However, since `BitEx` is primarily an API wrapper, the custom `Response` object should not get in the way of the user - it needs to feel, look and handle like a `requests.Response` object.

One way to achieve this, is to store formatted data and the original `requests.Response` object in a new class, which additionally expos

[2017-12-18 11:15] bebosudo commented on #129
We could place a class inside the base interface class, something like:

[code]

and then each exchange interface re-implements it according to the kind of ticker response it receives:
[code]

warning: code not tested, here for discussion only. (Explicitly calling the `__init__` method of the parent class inside the class `FormattedResponse` should not be needed, since there should not be any oper

[2017-12-18 12:08] mattisback commented on #129
I started a spreadsheet for comparing the different responses.
I'll keep working on it when I get some more time.

https://docs.google.com/spreadsheets/d/1jMkXpAGmKcGR0Dm9fQNYv85lunIuVjDUGE2qcB_J2hE/edit?usp=sharing

I've done most of the ticker responses so far and it seems like a good set of 'common' results would be:
 - timestamp
 - bid
 - ask
 - low
 - high
 - volume (have to choose if it shou

[2017-12-18 13:33] bebosudo opened #130 "BTER API crashing the interface"
At this moment, a query to any endpoint of the BTER API returns a response which is a bunch of dots:
http://data.bter.com/api/1/pairs

[code]

Should we catch this behavior, in order to avoid make the interface crash?

[2017-12-18 14:16] nlsdfnbch commented on #130
Hm. No. This appears to be an exchange-side bug. I can't access their API docs either (shows a blank page), so fixing this isn't possible atm.

But for future reference, as a rule of thumb: If you don't know why an exception happens, don't catch it. Otherwise we might have some really odd behaviour later on because we catch something that we shouldn't.

Good reporting tho! Let's leave this open so

[2017-12-18 15:02] jvaldiviezo9 opened #131 "Confusing at getting started"
Greets!

I'm writting because I don't know if there was significant changes beetween the 1.2.11 and 1.2.1 but I'm unable to understand how to get started with bitEx. Could you please guide me a little bit?

maybe an example with bittrex or bitfinex?  I installed all through pip using anaconda.

[2017-12-18 15:33] jvaldiviezo9 commented on #131
Greets!

I figure out how to run a simple program (was my fault at the beginning since I named my .py file with the same name of bitex). But now I'm experiencing some issues with a simple program:

from bitex import Bitfinex
c = Bitfinex(key,  secret)
print(c.balance())

it says this:

The API clients available in this package are deprecated and will be no longer available in their current form st

[2017-12-18 16:16] nlsdfnbch commented on #131
All returned response by `bitex` are `requests.Response` objects. If you want to access the data of the response, then you need to call its `json()` method. Like so:

[code]

[2017-12-18 16:16] #131 closed

[2017-12-18 21:05] nlsdfnbch opened #132 "Replace except clauses with default value when popping from dict object"
For code uncluttering and making it more readable (and also getting rid of error handling where it's not necessary), replace the following code in the API classes:

[code]

with:
[code]
which does the exact same thing, without having to handle the `KeyError` exception first.
It's syntactic sugar for:
[code]

[2017-12-19 15:52] hajdbo opened #133 "Interfaces constructor should expose timeout parameter"
Each REST APIClient __init__ has a timeout parameter, but the REST interfaces do not accept it.

[2017-12-19 22:14] bebosudo commented on #129
Great job, @mattisback. I've contributed to your spreadsheet by adding a ticker on binance.

@nlsdfnbch any idea on how to proceed? do you approve the idea of the abstract wrapper class around requests, inside the `RESTInterface` class?

[2017-12-20 07:08] nlsdfnbch commented on #129
@bebosudo, I don't see the benefit of defining the class inside the interface class. But putting then in the same file is okay.

@mattisback  i had a look at your spreadsheet, and can add that vaultoro only trades bitcoin/gold, which is why you probably weren't able to get a ticker out of it.
Regarding the timestamp, you could define two timestamp fields,  api_ts and client_ts, which hold both tim

[2017-12-20 09:49] nlsdfnbch commented on #107
Closing this, to avoid duplicates

[2017-12-20 09:49] #107 closed

[2017-12-20 09:57] nlsdfnbch opened #135 "Research Coverage of deposit and withdraw methods across current list of exchanges"
In the previous versions, `deposit()` and `withdraw()` were part of the standardized methods. However, at the time it appeared that many exchanges didn't support these methods, or their functionality varied greatly.

In order to evaluate if this still holds true, we should have a look at the current list of exchanges and see if this is still the case. If not, we can consider adding the aforementio

[2017-12-21 01:24] mattisback commented on #108
I was just thinking about mocked API tests vs live API tests and the difference between them (and which is more appropriate)...
Having a static 'example' that the tests are compared against is great if you want to quickly check if you changed some code that broke a previous test, but won't tell you if the exchange made a breaking change to their API.  If they do, you'll need to manually update the

[2017-12-22 01:17] mattisback commented on #108
I have an implementation of this, if you like it I can make a pull request.
It works like this:
Imports:
[code]
MockResponse object
[code]

Test:
[code]

`mock_request.side_effect` gets assigned to an array which contains the return values of `requests.request`.  The first time `requests.request` is called, the first value in the array is returned, the second time it's called, the second value is

[2017-12-22 01:41] mattisback commented on #129
Had a crack at implementing some of this.  Let me know what you think of this approach.

Added a folder called `formatters` under `interface`:
[code]
`bitex/interface/formatters/base.py`
[code]

An example exchanges implementation (for one function at least)
`bitex/interface/formatters/bitfinex/py`
[code]

Then the magic...  To make it format a response use the following decorator, defined in
`bit

[2017-12-22 15:56] nlsdfnbch commented on #129
I like the principle implementation - however, see the unit test I uploaded to see what the changes required specifically are (it's mainly naming and access)!

[2017-12-22 16:01] nlsdfnbch commented on #108
Yupp, that's about what I had in mind.#

As for the end-to-end tests, we need to assert these with caution, but generally I agree. They'd be a good early indicator on any api changes that we may have missed to pick up but haven't yet been reported by a user. The problem lies mostly with server faults, code 500s and dropped connections, which make these quite fragile. But perhaps we can integrate t

[2017-12-22 18:57] reijin90 opened #137 "Disable Debug output"
Hi!

So far I like your work, it's a bit confusing to find a good example at first, but I guess I'll figure it out.
Anyway, is there any way to disable the debug output from the console log? It's a bit annoying to see all the details.

Greetings and keep it up! Helpful library :)

[2017-12-22 21:41] mattisback commented on #108
Ok great!
Would it be possible to do some kind of rolling window statistic on E2E test results?  For example run the tests every hour and give a statistic of passed X times out of the last Y requests (eg. passed 95/100).

[2017-12-22 21:42] mattisback commented on #129
Yep, I'll pull your unit test and make some modifications to get it to pass.

[2017-12-23 00:23] lhl opened #138 "Decimal support?"
I was looking at various API libs and noticed that bitex doesn't seem to use decimal.Decimal() anywhere. How is math done accurately or is that something that's being punted on completely? (eg a quick search shows that balances simply get returned as string key/values?)

[2017-12-23 00:49] bebosudo commented on #129
Great work @mattisback, just a couple of review notes on the excerpt of formatter you showed here (had no time yet to review the rest):

1. Don't use `float()` to convert the value from the string stored in the json, use decimal when handling money https://docs.python.org/3.6/library/decimal.html. Are you already using it @nlsdfnbch somewhere else in the library?

1. `assert` is meant for "debuggi

[2017-12-23 00:54] mattisback commented on #138
Is decimal support necessary?  There's not really any math that's done in this library at all at the moment.  It just makes requests and (at the moment) returns the raw response.  So most of the time the results are returned as strings
For example:
[code]

[2017-12-23 00:56] mattisback commented on #129
Just having a look at your unit test, a couple of things:
1. not so important but perhaps `InterfaceResponse` is a better name than `APIResponse` as it works with the `interface` package not the `API` package (to avoid being confusing).  Perhaps some other name?
2. I've come up with a way to reflect all of the attributes from the `requests.Response` class onto the `APIResponse` object and to get y

[2017-12-23 01:23] mattisback commented on #129
@bebosudo Thanks for the feedback!
1. Ok great, I'll `replace` float with `decimal`
2. Thanks.  That makes sense.  Will update.  Is it worth having the runtime check do you think?
3. Good suggestion.
4. Haha yep.  I just copied the wrapper above it as a template.  Will remove from both.

The separate files separate out distinct concepts and and help avoid big, messy files which would be the case i

[2017-12-23 07:56] thinknirmal commented on #137
It uses the standard logging library of Python, so you can configure it the way you want:

[code]

[2017-12-23 10:56] bebosudo opened #139 "Pair Formatter not working anymore?"
On the latest dev branch:
[code]

[2017-12-23 11:03] bebosudo commented on #138
@lhl: we are discussing it right now in the implementation of the new `formatter` method, see #129.
The json response stores values as strings, but the formatter we're implementing should convert them to `decimal`, as you said, in order to avoid floating point inaccuracies.
Feel free to join the discussion!

[2017-12-23 16:43] bebosudo commented on #129
2. I don't think is needed. "If it walks like a duck and it quacks like a duck, then it must be a duck."

Thanks @mattisback, I used your approach and I separated the formatters and the interfaces modules. It took me a while, but I think I figured out a clean way to solve the problem, see PR #140.

I created a `AbstractFormattedResponse` class in `bitex/formatters/base.py`, which uses delegation t

[2017-12-23 16:47] bebosudo commented on #139
Figured out now:
[code]

I definitely have to write it down in the docs 😂

[2017-12-23 16:47] #139 closed

[2017-12-24 01:14] mattisback commented on #129
Hi @bebosudo
Good work.  Some great ideas in there.
I like the idea of the parameterised decorator
[code]
as opposed to my 'magic' approach to choosing a formatter.  Makes it more verbose and obvious what the code does, although it will introduce some code duplication (ie you'll need to specify BitfinexFormattedResponse) for every method that you want to format.
Perhaps a middle of the road soluti

[2017-12-24 01:32] mattisback commented on #138
@bebosudo I tried to implement `Decimal` support and ran into a lot of problems.  The major one was that sometimes the json responses are already converted to a float!  For example when you do
[code]
`result` may have fields that are already converted to a float!!  So when you convert them to a decimal:
[code]
To fix this you would need to replace the `json` method on `requests.Response` with one

[2017-12-24 13:46] bebosudo commented on #138
The solution is passing the `requests` [json()](http://docs.python-requests.org/en/latest/api/#requests.Response.json) method the appropriate parsers to apply:
[code]
(BTW, which exchange does send data as float numbers?)

---

Well, if I'm dealing with my money, I care of it.
[code]
You don't need to go to millions to understand why floats are bad. Even if we produce an error in the order of 10^(

[2017-12-24 14:58] nlsdfnbch commented on #129
Hey lads!
First off,  thanks for all your work! And sorry I haven't looked through all of this yet,  but Christmas is busy time at our house- but I'll be sure to look over everything before new year's!
Until then : merry holidays!

[2017-12-24 15:06] bebosudo commented on #129
It's simply because so far I'm using only the `ticker` methods to collect prices, and didn't know that also other methods needed formatting. 😂

Let's wait for a feedback from @nlsdfnbch, before going on with this code battle 😉

Merry Christmas to all of you!

[2017-12-27 01:13] esarearthur opened #141 "Cant import bitfinex"
Hello,

Trying to import bitfinex to work with keep getting error, ImportError: cannot import name 'Bitfinex'

[2017-12-27 01:29] esarearthur commented on #141
Fixed the issue, file name of my project was causing it. Renamed it and it now OK

[2017-12-27 18:58] nlsdfnbch commented on #108
hm. Perhaps? I'm not sure how to go about it, if you have an idea - shoot!

[2017-12-27 18:59] nlsdfnbch commented on #137
@reijin90 , sorry for the late reply - the holidays keep me busy with the family :)
As for the solution to your problem, @thinknirmal already gave the correct answer!

[2017-12-27 18:59] #141 closed

[2017-12-27 19:11] nlsdfnbch commented on #138
Using `decimal` for the formatted response is, IMO unnecessary - not because the use case isn't there; it's true that using the `decimal` library is better when handling money values - but I don't think see it being part of our job to supply that format.
A `str` representation is safe, and can be parsed by any library you may prefer to work with. `Bitex` is only meant to return data, but not do an

[2017-12-27 19:11] #138 closed

[2017-12-27 23:26] mattisback commented on #138
@bebosudo Ok, a fair point.  I still don't think the error from floats is a huge problem unless you're doing accounting and keeping track of peoples real money.  I agree that decimal would be better, though I think there are some complications that would need to be resolved before we could use it.

Take a look at this `ticker` response from Bittrex:
[code]

Other exchanges that do this are: CCEX,

[2017-12-27 23:33] mattisback commented on #129
@bebosudo sounds good, lets listen for @nlsdfnbch 's input :)
And merry (belated) xmas to both of you, hope you have a good holiday!

[2017-12-27 23:42] bebosudo commented on #138
IMHO the best thing would be to return a `decimal` object in the `formatted` response we're creating and discussing in #129, and that's it.
Meanwhile the best option is to manually parse the json using the `decimal` builtin class.

[2017-12-28 08:11] yuriiz opened #142 "BitfinexWSS.ping() broken"
Calling BitfinexWSS.ping() results in
[code]

Version BitEx==1.2.11 (latest from PyPi)

[2017-12-28 17:24] jm789 opened #143 "Bitfinex issue?"
I'm fairly new to this, so I may be missing something obvious.

I've just installed BitEx via pip and confirmed that it's running v1.2.11, I'm trying to connect to Bitfinex with the following code:

**********************
[code]
*********************
Am I missing any prerequisites or modules?

[2017-12-29 01:44] Jwely opened #144 "429 Response handling?"
I was surprised to see the GDAX interface does not provide any handling for the submission of many requests that may exceed API limits. Is there any intention to add features in this category for GDAX or other interfaces in the future?

[2017-12-29 16:06] Fiorelux commented on #135
Hi Nils,
I'm Luca and I'd like to contribute to the project. In the last days, I had a look at the code to become familiar with the project. I think this issue you opened could be a good starting point for me to contribute so I can browse around to the different platform to check for this two methods.

In your opinion, which feedback could be useful to have for each platform? Is it enough to know

[2017-12-29 21:45] illera88 opened #145 "WSS tests"
Hi,

do you have any example code I can use to see how to use the WSS version to get the tickers or order books?

I have Bitstamp working but the code structure of the other exchanges seems to be completely different

Cheers

[2017-12-30 07:24] Casey7747 commented on #143
I'm also new to this :)
I believe the current dev branch has the latest version, are you using it or the master?  It seems to be working for me and has been updated regularly.
Also i am running python3.

Hope this helps.

[2018-01-02 10:13] nlsdfnbch commented on #142
The websocket clients are deprecated and are no longer maintained - if you want to access Bitfinex's WSS API, have a look at [`Btfxwss`](https://github.com/nlsdfnbch/btfxwss)

[2018-01-02 10:13] #142 closed

[2018-01-02 10:19] nlsdfnbch commented on #143
`bitex` only supports python 3.5+. That's why you're missing the `abc` module.

[2018-01-02 10:19] #143 closed

[2018-01-02 10:22] nlsdfnbch commented on #145
Hey @illera88 ,
The websockets in `bitex` are deprecated and no longer maintained, so they may be out of date.
This is mainly due to the issue you point out - there were so many different API designs and protocols used, that it wasn't maintainable for me back when I first introduced them.
They ***may*** make a combat in future releases, but I am not actively planning to support websockets in `bite

[2018-01-02 10:26] nlsdfnbch commented on #135
Hey @Fiorelux ,
great to hear you want to contribute!
In principle, knowing wether or not the methods are supported is the minimum information we require.
If you want to have a look and perhaps compare returned information to distill a lowest common denominator, that would be great as well! That way we can implement a formatter method for it right away as well!

[2018-01-02 11:29] nlsdfnbch commented on #129
Right! So - I finally had some time to look over both of your excellent contributions - thanks again for investing so much time and effort into this little project :) 👍

As for the implementation method, I'm strongly leaning towards @bebosudo 's implementation.

The issue of implementing the various formatters for each endpoint, could be handled as follows: implementing a formatter in each `Format

[2018-01-03 13:30] jamesprinc3 commented on #145
Hi @nlsdfnbch. Firstly, thank you for putting such a great project together. I want to make heavy use of the websocket wrappers in this repo for my final year project at university. I'm just wondering if you'd be willing to merge in any PRs that I may make over the next few months in this area of the codebase?

[2018-01-03 19:36] Fiorelux commented on #135
Perfect. I'm going to work on that.

Btw, I had a first look at the platforms' doc and I have a doubt. The aim of the method withdraw is to generate an outflow of cryptocurrency from an account to another or to withdraw conventional currency from the platform? Because with some platforms you can only send crypto from an account to another (send money function), while others offer also the possibil

[2018-01-04 08:56] emestee commented on #145
@nlsdfnbch would you accept related PRs? You should probably publish your policy and plans for 2.0, the deprecation warning is a bit scary :D

[2018-01-04 11:30] emestee opened #147 "HitBTC REST API url miscalculated"
The default value of `api_version` for HitBTCREST() is 1, which is prefixed to the request URLs; however the actual URLs begin with 'api', i.e. the request URL is calculated to be `https://api.hitbtc.com/1/public/symbols` instead of `https://api.hitbtc.com/api/1/public/symbols`

A hacky solution is to initialize the client abusing the api_version prefix:

`client = HitBTCREST(api_version='api/1')`

[2018-01-04 16:20] emestee opened #148 "Poloniex WSS client forces autobahn into to use txaio asyncio"
Since autobahn's underlying framework selection is stateful, any other code that also uses autobahn and requests twisted will fail. Conversely, if any other code has called `txaio.use_twisted()` before Poloniex initialization (which is triggered by loading of `__init__.py` in bitex.api.WSS, meaning _any_ use of bitex will cause it, even if Poloniex integration isn't required). For instance:

[code

[2018-01-05 11:35] nlsdfnbch commented on #145
@emestee , I probably should :D
I'd take PRs, but Id keep them separate from the dev code base. For example, I could set up a feature branch for websocket implementations. Does this sound feasible to you two ?

[2018-01-05 11:37] nlsdfnbch commented on #147
Or update the api url to `https://api.hitbtc.com/api`, no ?

[2018-01-05 11:38] #147 closed

[2018-01-05 11:41] nlsdfnbch commented on #135
For now, let's note which exchange allows which withdraw/deposit type. I would imagine at least crypto currencies should be supported by all exchanges offering withdrawal methods.

[2018-01-05 11:44] nlsdfnbch commented on #144
Hey @Jwely,
There currently is no such feature planned. I believe that  rate-limiting is job of the user and not the library, as this may interfere with trading strategies in an unexpected way.

Thanks for your question!

[2018-01-05 11:44] #144 closed

[2018-01-05 15:48] jamesprinc3 commented on #145
@nlsdfnbch that's good to hear :) a different branch would be a reasonable solution if you want to keep it separate.

[2018-01-05 21:23] Fiorelux commented on #135
Ok. Here the result.

[https://ufile.io/jj6y8](url)

The additional fields in the file are the returned information from the API call.
For a couple of platforms, I wasn't  able to find the doc.

[2018-01-05 22:23] Jwely commented on #144
Understood.

I've been using it for analyzing historical trades where waiting any arbitrary time for a response is no problem, but any live trade strategy will have non trivial requirements for handling this kind of thing.

[2018-01-06 00:58] mattisback commented on #129
Cool.  Fair enough if you prefer the `@format_with(FormatterClass)` approach over `@format_response` for the decorator.  I mean there's not a huge difference, it's a trade off between being easy to understand vs code duplication.  I think you might be right that the ease of understanding is worth the extra code duplication.

Then there's the aliasing of the underlying response up to the `Formatted

[2018-01-06 09:11] nlsdfnbch commented on #145
I've added the branch `feature-websockets` knock yourselves out ;) I've been doing some migration and open-sourced my crypto toolbox entirely now - so have a look at project [`Thoth`](https://github.com/Crypto-toolbox/Thoth). It features a bunch of websocket connectors. It will be part of the Crypto Toolbox I'm working on, but currently only supports public channels.

I'll see about fleshing out t

[2018-01-06 09:11] #145 closed

[2018-01-06 09:27] nlsdfnbch commented on #129
Concerning the args & kwargs, I think it'd be easiest to simply pass them along into the constructor and save them; that way they can be accessed by the formatting method if necessary?

[code]

And regarding the possibility of the method name or attribute being implemented into `requests.Response`, I think that's a risk we can live with.

[2018-01-08 16:24] emestee commented on #137
Hi @nlsdfnbch,

Unfortunately this is a bug. In `interfaces` module, the following integrations call `logging.basicConfig()`: ccex, cryptopia, gemini, and yunbi. If prior to loading these integrations some code deconfigures logging output handlers, the call to `basicConfig()` will readd the default standard output again.

Those calls should really be removed, libraries should not make assumptions

[2018-01-09 09:46] nlsdfnbch commented on #137
@emestee, you're correct. Removing those now

[2018-01-09 09:52] #137 closed

[2018-01-09 09:55] nlsdfnbch commented on #148
Since this is a websocket issue, and websockets are deprecated, I won't fix this. The next release of `BitEx` won't feature them so this issue should take care of itself with the next release.

[2018-01-09 09:55] #148 closed

[2018-01-09 10:11] bebosudo commented on #129
@mattisback have you already implemented something following Nils's advice? Otherwise I'm going to work on it now

[2018-01-09 15:24] bebosudo commented on #129
I tried to implement a new version on multiple endpoints (a6832bf72737eac169c5c01ed550aa385123d747), and I created two working examples of the ticker method on bitfinex and poloniex (I'm just a bit unsure about whether to use the quoteVolume or the baseVolume field on the Poloniex ticker endpoint: https://github.com/Crypto-toolbox/bitex/commit/a6832bf72737eac169c5c01ed550aa385123d747#diff-2f3b32f9

[2018-01-09 16:49] bebosudo opened #149 "Promote _supported_pairs to public method"
Is there any reason the `_supported_pairs` method of exchanges is "private" (and e.g. not showing up in the docs).
PR #127 should have provided the pairs of all the exchanges implemented.

[2018-01-09 18:52] nlsdfnbch commented on #149
Because it's a property:
https://github.com/Crypto-toolbox/bitex/blob/e95c75272b24ab19eb3cb40d6083dea87be6b8c7/bitex/interface/base.py#L31

That way, we could later on convert them to pair formatters, instead of lists if we wanted to do so and only have to change the property. At least I think that was my reasoning behind it.

[2018-01-09 22:28] bebosudo commented on #149
Okay, thanks for the clarification ;-)

[2018-01-09 22:28] #149 closed

[2018-01-10 23:07] goncalopp opened #150 "Joining forces with mexbtcapi"
Hi,
I'm the main author of [mexbtcapi](https://github.com/goncalopp/mexbtcapi), a framework somewhat similar to bitex.

I was thinking of simply adding bitex as a dependency to mexbtcapi, but since it seems like you're still working on higher-level interfaces, I though I should give you a heads-up

Mexbtcapi was developed top-down - starting from well tested high-level interfaces. The interfaces a

[2018-01-11 08:18] nlsdfnbch commented on #150
Ahoi @goncalopp!

You're correct - there's no way to get real-time data via bitex. That's because it is purely designed to be a REST api wrapper. The interfaces only expose the functions all exchanges have in common, with a unified method signature.

All in all,  bitex is meant to be a bit more low level and basic -  that's because from my experience,  more sophisticated frameworks rarely fit the

[2018-01-11 21:56] goncalopp commented on #150
Hi Nils,
Thanks for the tip! I'll take a look into integrating the dev branch into mexbtcapi then

Quick question: there seem to be no WSS interfaces on dev - is that on purpose?

Thanks, and keep up the great work!

[2018-01-12 06:13] nlsdfnbch commented on #150
Yes,  that's on purpose. Like I said,  it's meant to be a REST wrapper,  the websocket clients were experimental (and very buggy) . They're planned to be added down the road sometime,  but have no set ETA!

[2018-01-12 15:50] #150 closed

[2018-01-12 15:50] #132 closed

[2018-01-12 15:51] nlsdfnbch commented on #130
I have remove `bter` as their documentation is still not back online, and their support isn't responding. I've decided to drop support for it.

[2018-01-12 15:51] #130 closed

[2018-01-12 15:52] nlsdfnbch commented on #108
I've replaced calls to the API for all `API` objects with mocks, and now only check if the defined signature is generated as expected.

[2018-01-12 16:36] bebosudo commented on #129
Since I'm working on a project, and I needed a standard way to access the ticker of many exchanges, I've implemented a dozen more exchange formatters in 0f389a6b993569e9c4ee04e006a82b0e791286b8, available inside PR #140.

All exchanges now return a standard tuple with these values:
`("bid", "ask", "high", "low", "last", "volume", "timestamp")`
except for CCEX (https://github.com/Crypto-toolbox/bit

[2018-01-12 18:56] nlsdfnbch commented on #129
Congrats, you've encountered a perfect example for why I initially opted for dropping the formatter idea :'D
I would define some sort of default value for data which is not acquirable (the most obvious one I can think of is `None` or `N/A` or similar) and pass that instead of it.

As for the timestamp, it sort of depends on how exact we want the data to be. Substituting a non-present timestamp fro

[2018-01-14 13:13] bebosudo commented on #129
In fact I'm already using `None` in my implementation, as you can see here: https://github.com/Crypto-toolbox/bitex/commit/0f389a6b993569e9c4ee04e006a82b0e791286b8#diff-bd2d7bf5a69e3d37d630f9911debdf42R28

I liked the idea of the timestamp being inside the tuple returned from the formatter, so that everything needed is contained inside that tuple, but we can move the timestamp outside, on the `res

[2018-01-14 13:51] nlsdfnbch commented on #129
values in a json string are strings before they are converted -therefore, the most conservative way to convert them is to a `str`. While you are correct that converting them to `float` (which is the default behaviour when parsing) introduces possible errors due to overflows, this doesn't happen with `str` (and, as you correctly pointed out) `decimal.Decimal()`.

Essentially, what happens under the

[2018-01-14 14:03] nlsdfnbch commented on #135
Hey @Fiorelux , sorry for the slow reply-rate!
The link above doesn't work - could you update it?

[2018-01-14 14:56] anthonypelletier opened #151 "Inverted method_verb & endpoint"
https://github.com/Crypto-toolbox/bitex/blob/cce810a34451a6fd1f7f0885119af88ac6e5e79a/bitex/api/REST/binance.py#L44

[2018-01-14 15:30] bebosudo commented on #129
Ok for the `str`ing type of the object.
I'm not sure I get the point of converting a unix timestamp, which is universal since it's seconds since 1970-01-01 00:00:00 UTC, into a string encoded with yet another standard which then needs to be strftime'd back in order to be able to work on it, and which looses timezone information.
I'd prefer to give a datetime aware object, something like:
[code]
at

[2018-01-14 15:47] nlsdfnbch commented on #129
That doesn't make sense. As said before, `json` passes the raw string to the constructor of the type you pass in `parse_float` - per default it's the `float` class. So it would call `float(json_sub_string)` on anything that looks like a float.
If you pass `parse_float=str` it instead calls `str(json_substring)`, which does zero conversion and is absolutely loss-free.
Using your method would only t

[2018-01-14 15:51] nlsdfnbch commented on #151
@anthonypelletier ,
Thanks for the contribution! Fixed it!

[2018-01-14 15:51] #151 closed

[2018-01-14 16:42] bebosudo commented on #129
ok, never tried with `str`, hence I thought it could not directly be "parsable".

Regarding the timestamps, then you suggest separating them from the response class, and add them as new properties, right?
I think that we should stick to a standard, if we want to provide time as a string, e.g. [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations)
May I suggest cre

[2018-01-15 11:54] nlsdfnbch commented on #129
`client_ts_iso8601` is cumbersome, but the general idea is good.
perhaps, instead do this:
add an attribute `received_at_dt` to `FormattedResponse`, which stores the aware `datetime` object, and a property as follows:

[code]

Or similar. What do you think?

[2018-01-15 15:31] bebosudo commented on #129
To me is fine creating the two parameters inside `FormattedResponse`.

Is there a reason you want to use that particular format instead of the ISO one?

[2018-01-15 15:36] nlsdfnbch commented on #129
It was my impression that
`%-Y%m-%d %H:%M:%S.%f+%z`
creates this
`2018-01-15T14:56:02.000+00:00`

is that not so? If not, I leave the formatting to you then :D

[2018-01-15 22:05] bebosudo commented on #129
Unfortunately `%z` is `UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive)`, but the ISO8601 standard needs a colon between hours and minutes.

I'd just like to avoid the "yet another standard" approach: https://xkcd.com/927/ ;-)

I'll implement the `received_at` attributes inside `FormattedResponse`, using `str` as parser.

[2018-01-16 03:32] Cloniko opened #152 "Problem with orders in kraken"
Hello,
i have a problem with orders in kraken. With Poloniex, bittrex and Bitfinex (with a little modification in bitfinex.py) work fine but dont work with Kraken.
I has received the error "{'error': ['EGeneral:Invalid arguments']}"
My code is:

KrakenAsk = Krakencfg.order_book(Krakenpair).json()['result'][Krakenpair]['asks'][0][0]
KrakenAskVol = Krakencfg.order_book(Krakenpair).json()['result'][K

[2018-01-16 07:25] nlsdfnbch commented on #152
Hey @Cloniko,
Could you run the code with log level set to DEBUG and post the log? (make sure your keys arent visible)
And what change did you have to make in bitfinex.py?

[2018-01-16 14:08] Cloniko commented on #97
I do not know if it will be related to this but I have seen an error in interfaces\bitfinex.py.

You have to delete a hyphen in "type" so that the orders are correctly executed.

The correct is 'type': 'exchange limit'} without a hyphen

[2018-01-16 14:31] nlsdfnbch commented on #97
@Cloniko , thanks for the pointer! I fixed this on `dev` and it should no longer be an issue.

[2018-01-16 20:12] Fiorelux commented on #135
No problem @nlsdfnbch  .
The link doesn't work if you click on it (I don't know why...maybe for some GitHub restriction..) but if you copy paste the address it should work.  Btw, the link is going to expire in 2 weeks.

[2018-01-17 01:15] Cloniko opened #153 "Problem with API of Binance"
Hello,
im test binance and i receive a error.

My code:

print(Fore.LIGHTYELLOW_EX + '\nBINANCE -------------- TEST 1 ------------------------------------------------------------------\n')
Binancfg = Binance(config='%s/bitex/auth/binancerafa.ini' % ".")
Binanresp = Binancfg._get_supported_pairs()
logger.DEBUG('Binanresp ' + str(Binanresp))

Error:

BINANCE -------------- TEST 1 -------------------

[2018-01-17 01:37] Cloniko commented on #152
Hey @nlsdfnbch,

I hope this is how you say (DEBUG) if not, explain how I can do it to show the data you need

KRAKEN -------------- TEST 1 ------------------------------------------------------------------

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kraken.com
2018-01-17 02:31:36,352 - DEBUG - Starting new HTTPS connection (1): api.kraken.com
DEBUG:urllib3.connectionpool:

[2018-01-17 01:50] Cloniko commented on #153
I see this

https://github.com/sammchardy/python-binance/tree/master/binance

https://github.com/sammchardy/python-binance/commit/6c967b7b0b9545a769d0dc086878a0dff4b37de6

Could it be the problem?

[2018-01-17 05:52] nlsdfnbch commented on #153
The commit you referenced isn't a fix, but a workaround. I'll look into it today

[2018-01-17 05:54] nlsdfnbch commented on #152
That's the correct log,  thanks!
Since Kraken is currently testing their new trading engine,  could you verify this happens for other pairs as well when posting an order?
It's quite possible some of the parameters have changed when they moved to the new engine.

[2018-01-17 18:34] Cloniko commented on #153
I already know what the problem is with binance. The problem is the version of the api.

I change the value of the binance ini file.
If i put
[API]
version = api/v3
address = https://api.binance.com

and return self.request('GET', "v3/account", True).json() in interface\binance.py

Work perfectly but dont work def with v1 api.

[2018-01-17 19:07] nlsdfnbch commented on #153
Oooh..well that's great. They use different API versions for different endpoints, according to their documentation. What a smart bunch of people.
I'll fix this in the coming days.

[2018-01-17 19:10] Cloniko commented on #153
only need change the value "api" in the auth/binance.ini

[2018-01-17 19:11] nlsdfnbch commented on #153
No, that's incorrect. Changing that value means it would affect ALL endpoints - some endpoints, however, aren't on version 3 and require version 1.

[2018-01-17 19:12] Cloniko commented on #153
Work fine

[2018-01-17 19:12] nlsdfnbch commented on #153
The ticker endpoint, for example, does not:
https://api.binance.com/api/v3/ticker/24hr

[2018-01-17 19:13] Cloniko commented on #153
wait a moment

[2018-01-17 19:16] Cloniko commented on #153
Code:
print(Fore.LIGHTYELLOW_EX + '\nBINANCE -------------- TEST 1 ------------------------------------------------------------------\n')
Binancfg = Binance(config='%s/bitex/auth/binancerafa.ini' % ".")

Binanorders = Binancfg.order_book(Binanpair).json()
BinanBid = Binanorders['bids'][0][0]
BinanAsk = Binanorders['asks'][0][0]
BinanBidVol = Binanorders['bids'][0][1]
BinanAskVol = Binanorders['ask

[2018-01-17 19:19] nlsdfnbch commented on #153
Aaach right. I misread your config modification - yes, that's true; for binance the version value must be `api`, because I added version to the request string in the code.

[2018-01-17 19:23] nlsdfnbch commented on #108
I've replaced all calls to the API with mocked objects for the interface tests - sample payloads have been added as well in `tests/payloads.py`. We're only missing the `APIResponse` from PR #140 to add the finishing touches to the test suite.

[2018-01-18 02:59] Cloniko opened #154 "Problem with api on cryptopia (SOLVED)"
Hello,
i see a error on cryptopia. Dont work with api keys.

Code:
[code]

[2018-01-18 06:25] #153 closed

[2018-01-19 07:42] nlsdfnbch commented on #154
I'll look into it!

[2018-01-19 07:49] nlsdfnbch commented on #133
This issue is fixed in `2.0.0` on `dev`

[2018-01-19 07:49] #133 closed

[2018-01-19 14:26] Cloniko commented on #152
Hi,
test with XLM.

Same problem.

KRAKEN -------------- TEST 1 ------------------------------------------------------------------

XXLMXXBT
2018-01-19 15:25:52,368 - DEBUG - Starting new HTTPS connection (1): api.kraken.com
2018-01-19 15:25:54,212 - DEBUG - https://api.kraken.com:443 "GET /0/public/Depth?pair=XXLMXXBT HTTP/1.1" 200
None
2018-01-19 15:25:54,217 - DEBUG - Starting new HTTPS connect

[2018-01-19 15:11] nlsdfnbch commented on #152
Unfortunately, I cannot find the error in my code. I've asked support if there is an issue with the API, but it's probably a good idea if you, too ask them what's going on.

Specifically, if anything changed since the upgrade is of interest.

[2018-01-21 18:22] nlsdfnbch opened #156 "Promote closed_positions() to standardized method"
Add `closed_positions()` as a standardized method. It should return a list of executed trades from the exchanges private API.

- [ ] Assert that `closed_orders()` is available on each supported exchange (Trade history, closed positions or similar)
- [ ] Create PairFormatter Unittest
- [ ] Create Endpoint Unittests
- [ ] Implement Endpoint in `RESTInterface` class
- [ ] Implement Endpoint in Exchan

[2018-01-21 18:23] nlsdfnbch commented on #108
`APIResponse` was implemented and the tests can now be run. There are still quite a few errors, but work is progressing.

[2018-01-23 20:52] andy-io opened #157 "Add Coinexchange"

[2018-01-23 21:18] andy-io commented on #148
@emestee did you find any solution for this ? i have the same problem ...

[2018-01-24 07:12] nlsdfnbch commented on #157
Hey @andy-io ,
thanks for the contribution!
As CoinExchange currently only offers a public API, I'm putting this on the backburner until we've implemented the other exchanges.
However, if you wish to contribute the API for it, please do not hesitate to submit a PR!

Cheers,
Nils

[2018-01-24 14:09] emestee commented on #148
@andy-io the only solution is to either change the txaio engine, which is hardcoded in bitex, or disable the Poloniex integration. In any case you will end up editing bitex code, so fork it and install it from your copy.

[2018-01-24 18:37] andy-io commented on #148
@emestee thanks for your reply...could you show me which part of the code in bitex must be changed exactly ? i dont have any idea about autobahn so could you please help me...

[2018-01-26 09:15] emestee commented on #148
@andy-io according to the dump I posted above, it's in autobahn/asyncio/websocket.py

[2018-01-26 13:44] metaperl commented on #79
If this has been merged, should it be listed under [supported exchanges](https://github.com/Crypto-toolbox/bitex#supported-exchanges)?

[2018-01-27 08:18] metaperl opened #160 "Provide open_positions as a standardized method"
I am converting a script written for Bittrex to run on BitEx.

Bittrex has an API method `cancelAllOrders` which basically gets all open transactions and then cancels each one.

There is a standardized method for cancelling an order [cancel_order](https://github.com/Crypto-toolbox/bitex/blob/master/bitex/interfaces/bittrex.py#L75) ... however I do not see a standardized method to list open positio

[2018-01-27 09:24] nlsdfnbch commented on #160
Hey @metaperl ,
This is already implemented on 2.0.0/dev and will be part of said release.

Cheers,
Nils

[2018-01-27 09:24] #160 closed

[2018-01-27 09:30] nlsdfnbch commented on #79
Yes it should be - I usually update it before a release, but if you want, feel free to add it to the table

[2018-01-29 09:21] nlsdfnbch opened #162 "Evaluate usage of custom requests.auth.AuthBase instead of sign_request_kwargs method"

[2018-01-29 09:49] nlsdfnbch commented on #108
Commit 1332b0812c7ef765ada70aa9ae054af16974de45 eliminated the last error in unittests. They're all failing as expected now for interface tests.

[2018-01-30 15:59] metaperl opened #164 "Symbolic access to compound response data?"
As it stands, it appears that the formatters return plain data that cannot be accessed symbolically. For instance, [the ticker method appears to return a tuple](https://github.com/Crypto-toolbox/bitex/blob/master/bitex/formatters/bittrex.py#L14).

This forces one to write code that is not symbolic - one must access what one wants by a "magic number" --- an index into a data structure instead of ac

[2018-01-30 16:06] nlsdfnbch commented on #164
Responses are returned as namedtuples if their formatter was implemented correctly. Accessing their field names should therefore be possible.

What you've linked above is the master branch - this branch is outdated. All development and features are implemented on `dev`, which will replace the current release (`master`) in the future.

[2018-01-30 16:06] #164 closed

[2018-01-30 20:13] metaperl opened #165 "How to install the dev branch with setuptools?"
I installed BitEx as follows:

    git clone https://github.com/Crypto-toolbox/bitex.git
    git checkout dev
    python3 setup.py install --force

However, the following script:

[code]

yields this error transcript:

[code]

[2018-01-30 21:02] wkyle opened #166 "Bitstamp WSS: separate callbacks for order_changed, order_created, and order_deleted"
The Bitstamp WSS class registers a single callback for all three events for a given pair. This means the order data that gets sent back and placed in a queue provides no indication of whether it is a new order, changed order, or deleted order. Separate callbacks could be defined to provide this info if they were attached to their own event as well as pair.

[2018-01-30 21:32] wkyle commented on #166
I've got something working on my end using a function factory that produces callbacks given a pair and event name. It works but I get a few `Connection: unknown error code` errors when I first begin running the socket.

In api/WSS/bitstamp.py:

[code]

where:

[code]

[2018-01-31 03:44] wkyle commented on #166
While the above works, I'm having periodic errors pop up. Perhaps it has something to do with too many callbacks?

[code]

[2018-01-31 08:13] nlsdfnbch commented on #165
That's the right way to install it.

However, I just started working through the tests and making the code pass - so many components are bound to not work correctly atm.

In this case, it's likely to be due to the fact that `_get_supported_pairs` still calls `self.pair` instead of a direct request. This had lead to some issues in the past and is being removed currently.

I'll fix it today.

[2018-01-31 08:17] nlsdfnbch commented on #166
Since websockets in `bitex` are deprecated, I can't help you out wit ha fix for this - especially since the codebase for websockets hasn't been maintained.

I've moved websocket code to a separate project, [here](https://github.com/Crypto-toolbox/Thoth).
It uses zmq and is designed quite a bit differently, but works better than the current code on bitex. It's still in alpha, so beware when using i

[2018-01-31 08:17] #166 closed

[2018-01-31 08:19] nlsdfnbch commented on #152
@Cloniko , have you heard anything from support ? My ticket's still open, without a response, unfortunately.

[2018-01-31 09:25] nlsdfnbch commented on #165
Unfortunately I can't test this, since the exchange returns a `503`.
Can you confirm this wasn't the case for you? If not, that may be the problem. Otherwise I'll have to test once the service is back up.

Relevant tests for bittrex are green, otherwise.

[2018-01-31 12:08] metaperl commented on #165
Here is what I get this time:

[code]

[2018-01-31 12:24] nlsdfnbch commented on #165
I still receive error Code `503`. There's no point in doing any debugging if their server is down.

[2018-01-31 12:28] nlsdfnbch commented on #165
I've tested this on `Bitstamp` and can now produce this error when using the `API` class- something's not being returned where it should be. Investigating..

[2018-01-31 13:07] nlsdfnbch commented on #165
Runnig:
[code]

yields:

[code]

[2018-02-01 08:11] oberstet commented on #148
No, the reason is: a) you cannot run 2 event loops in parallel (Twisted and asyncio), and b) Twisted, once a reactor has been installed, never returns from the event loop, other than exiting the program - cannot use or installed a different reactor.

[2018-02-01 10:16] metaperl commented on #165
What is a "payload" ?

This program:

[code]

runs just fine now. And it also runs on Binance when you change the constructor from `Bittrex` to `Binance`:

[code]

[2018-02-02 21:57] iuvbio commented on #154
Hi,

I still have issues with the Cryptopia API also with the balance method. The error message is:
[code]

[2018-02-03 13:36] iuvbio opened #168 "Invalid nonce for wallet() method for Kraken, Bitstamp, and Cryptopia"
[code]

[2018-02-03 23:21] #168 closed

[2018-02-03 23:23] iuvbio commented on #168
Could solve the nonce issues by creating new API keys for the accounts. The Cryptopia problem remains, but it's the same as issue #154.

[2018-02-04 07:32] nlsdfnbch commented on #154
@iuvbio , thanks for the feedback - are you using the latest release or the `dev` branch (`2.0.0x`) ?

[2018-02-04 07:34] nlsdfnbch commented on #165
I refer to the parameters sent via REST as the `payload` - but if the code works on your end now, this is of no concern to you.

Cheers for the contribution!

[2018-02-04 07:34] #165 closed

[2018-02-04 11:09] iuvbio commented on #154
My initial comment was using the master, in issue #168 I use the `dev` branch and I get the same error as the OP `Signature does not match request parameters`

[2018-02-04 13:11] iuvbio commented on #154
I found the issue, in the Cryptopia REST API `sign_request_kwargs()` change
[code]

[2018-02-04 13:24] nlsdfnbch commented on #154
I'll check this later today - thanks for your help!

[2018-02-04 13:30] iuvbio commented on #154
You're welcome. Actually it works as is on the `dev` branch, I was still using the master.

[2018-02-05 14:16] nlsdfnbch commented on #162
Benefits are limited, essentially we'd only migrate code for most of the exchanges to an additional class.

[2018-02-05 14:16] #162 closed

[2018-02-08 11:51] emestee commented on #148
@oberstet no, the design flaw is that autobahn doesn't let the library consumer to choose the reactor but simply asserts that it wants to use a given one. If another library then does the same with a different reactor, there's a conflict.

[2018-02-09 08:45] oberstet commented on #148
@emestee no, you don't understand what is going on: just don't call `choosereactor`, and Autobahn won't install one. https://github.com/crossbario/autobahn-python/blob/master/autobahn/twisted/choosereactor.py

[2018-02-11 01:41] iuvbio opened #170 "Problem with Cryptopia ticker()"
Hi, I get a `JSONDecodeError` when I call the ticker() method of the Cryptopia interface:

[code]

I think it's because the BOM Header that is mentioned in the docstring of the CryptopiaREST _query is not removed correctly.

[2018-02-12 13:29] emestee commented on #148
@oberstet *I* don't call `choosereactor`, the autoloaded Poloniex integration does implicitly, which is what this ticket was about

[2018-02-15 23:35] Cloniko commented on #154
Yes!!. Work fine now. Solved!!

[2018-02-18 08:19] #154 closed

[2018-02-19 22:17] robingauthier opened #173 "Adding Query of Historical Data"
Hi,

Would it be possible to also implement methods for historical data.
For instance binance enables to get candle data like that :
https://www.binance.com/api/v1/klines?symbol=BTCUSD

Thank you in advance,

[2018-02-20 06:04] mark-atk commented on #97
Not sure if this is the best place to put this, but I was getting a similar issue. It turned out to be a function in the bitfinex.py interfaces module.

basically I had to change:
`    @return_api_response(fmt.order)

    def bid(self, pair, price, size, replace=False, **kwargs):

        return self._place_order(pair, size, price, 'buy', replace=replace, **kwargs)`

`    @return_api_response(fmt.

[2018-02-21 07:27] karlandoh commented on #79
Has this been merged yet? We are waiting.

[2018-02-21 08:35] deepbrook commented on #79
It has been merged already. It may not be on pypi yet - feel free to pip install via the `dev` branch to get the latest version for now

[2018-02-21 08:36] #79 closed

[2018-02-21 08:37] deepbrook commented on #173
It is possible, but for now it's not a priority - feel free to contribute such a method though!

[2018-02-21 08:42] deepbrook commented on #97
It's not an issue with the library per se. On dev, we no longer convert to `str`, since per definition of the Bitfinex API the parameters need to be strings anyway.

However, adding this conversion would require less reading of API documentation for lib users - this can be both a good and bad thing. So I'm currently undecided how to handle this.

But thank you for pointing this out!

[2018-02-21 08:58] mark-atk commented on #97
Agreed, maybe just make sure the bid and ask methods are aligned then, as one converts to string and the other doesnt

[2018-02-23 09:43] #173 closed, assigned to nobody

[2018-03-22 12:22] ajeep8 opened #175 "market API version"
Nils,
I had forked bitex and had completed dev branch bitfinex order_book formatter, both v1 and v2, but I wonder if it useful to have both v1 and v2.
In BinanceREST you said:
        # We force version to None here as different endpoints require different versions,
        # so the interface will have to define the version as part of the endpoint.
if you will apply this (define version as part of

[2018-03-23 06:27] deepbrook commented on #175
Hey @ajeep8 ,
Thanks for contributing!

Regarding the version, It depends somewhat on the API and what it offers. For example in Binance, not all endpoints are available on each version, which is why the version needs to be set explicitly in the endpoint method, in order to supply a fully functional interface.

If it is possible, always use a single API version for all methods, and always the late

[2018-03-23 10:27] ajeep8 commented on #75
@nlsdfnbch I had added pair/ticker/orderbook/wallet of CoinOne/BitHumb/CEX.IO in my fork dev branch

[2018-03-23 10:27] ajeep8 commented on #74
@nlsdfnbch I had added pair/ticker/orderbook/wallet of CoinOne/BitHumb/CEX.IO in my fork dev branch

[2018-03-23 10:34] ajeep8 commented on #175
I see.
So, we should implement only one version in interface and formatters, maybe we need implement 2 versions in api, we should add version into endpoint for other market like binance.

We should not implement 2 versions in interface like inteface/bitfinex.py:
def order_book(self, pair, **endpoint_kwargs):
        """Return the order book for a given pair."""
        self.is_supported(pair)

[2018-03-24 07:41] deepbrook commented on #175
You *can* if you want to, but the priority should be implementing a single, latest API version. In the case above it isnt very complex to support several versions, so that would be ok too.

In essence: if you need to introduce complex hacks to support older versions than the newest available one, do not do so unless it is required to offer the minimal expected functionality of the interface.

[2018-04-02 19:52] firepol commented on #74
@ajeep8 what are you waiting to submit a PR? ;)

[2018-04-03 09:21] ajeep8 commented on #74
@firepol I just copy&modify the pair/ticker/orderbook/wallet of CoinOne/BitHumb/CEX.IO/CoinNest/Exmo/Gate.IO, but other methods are neither completed nor removed, so it seem unsuitable for submit yet. I will complete or remove the uncompleted method when I have time.

[2018-04-14 01:20] ajeep8 opened #179 "Pull request can't pass test"
Nils,
I submit a pull request, but can not pass test.
I never make change of test,  I don't know how to pass test.
Any advice or help ?

[2018-04-17 10:38] deepbrook commented on #179
As far as I can tell it's an issue with poloniex, not with your code. I'll have a look at your PR and leave you some feedback, don't worry about the CI tests just yet.

[2018-04-17 10:38] #179 closed, assigned to nobody

[2018-04-17 10:53] archienorman11 commented on #73
Has anyone started working on this, or interested in working with me on this?

[2018-04-19 09:07] ajeep8 opened #180 "2 modifies I want to make, Nils' advise?"
Nils,
1. One config file for each market, it's not conveniently, I want change them to one config file.
2. interface.base.\_\_init\_\_, each time new a market class, need fetch pairs, but pairs not change daily, it seem not necessary. And, many market has request limit, this double the request times, get "Too Many Requests" response.
I want to save all pairs in one json file with timestamp, and co

[2018-04-19 09:40] deepbrook commented on #180
1. What exactly do you mean by config file?
2. Shouldn't be an issue since they ideally only initialize once - so it's really a single request more on start up.

[2018-04-19 09:41] deepbrook commented on #73
Go ahead, first come - first served :)

[2018-04-19 12:05] ajeep8 commented on #180
1. like this:
apikeys = {
  "Bitfinex": ['key','secret','user_id','addr','version'],
  "Bitstamp": ['key','secret','user_id','addr','version'],
  ......
}

[2018-04-21 13:21] firepol commented on #180
@ajeep8  I'm also coding something based on bitex, I save APIs in a json config file and read it like this:

Here how my settings json looks like:

[code]
Then I read it like this:

[code]
In reality I loop the file and check the "type" (in my case type is the exchange name) and use it to create the correct api object based on it...

If you need an example on how to cache stuff in a json and read

[2018-04-21 13:24] firepol commented on #170
In the dev branch I fixed the cryptopia API, see PR here: https://github.com/Crypto-toolbox/bitex/pull/182

[2018-04-23 20:31] firepol opened #183 "Question about *args and **kwargs for Nils"
Hi @nlsdfnbch,

Speaking about the `dev` branch...

I submitted 2 PRs and I'm working to fix the bitstamp API as well. I noticed that many methods have unnecessary unused *args and **kwargs and I removed them (see my 2 PRs). Also in some methods some parameters are set as default None if they are optional (e.g. pair=None) and sometimes they are expected from kwargs. It's a bit inconsistent and I b

[2018-04-24 04:20] deepbrook commented on #183
The interface classes, specifically the standard methods I defined, need to behave identically, no matter the `kwarg` / `args` passed.

The reason for that is quite simple:
You need to be able to loop over the same method for all interfaces, without getting an unexpected argument error.

That's why for some methods, the relevant parameters like `pair` are seemingly optional.

I hope that answered

[2018-04-24 07:05] deepbrook commented on #180
Ah, now I got ya. I'm not a fan of the json format - however, you could merge the ini files into a single one, with sections for each API.

Like so:
[code]
Of course that would require some updates to the config parser methods.

[2018-04-24 11:40] firepol commented on #183
Thanks for your feedback, my next question then would be, which methods are considered the standard ones? ticker, bid, ask I get... but is there a full list?

Or does this apply also to exchange specific methods or for those ones we can avoid using args and kwargs if not needed?

[2018-04-24 12:23] deepbrook commented on #183
https://github.com/Crypto-toolbox/bitex/blob/dev/README.md

[2018-04-24 20:48] firepol commented on #183
Ops, it was in the readme, thanks ;)

[2018-04-25 00:07] firepol opened #185 "Pair formatter, really useful?"
Hi, I get the idea of this project, to have standardized methods and also standardized responses.
I also like the idea to standardize the pairs, as one exchange uses BTCUSD, another BTC/USD, another btcusd etc. which is quite a mess...

What is a bit strange to me, is to have classes for pairs. I don't understand why should I use a "strong type" for something that basically is a string. I also see

[2018-04-30 10:46] firepol opened #186 "Fix travis / tests or temporarily disable tests"
The dev branch doesn't look to pass any tests... I mean when we submit a PR it's kinda sad to see "All checks have failed" and it's not even our code's fault ;)

Would be nice to fix this stuff, so when somebody is submitting a PR, it's all green if it's all good, and it's red when a specific test was broken, after all, that's the purpose of unit testing I guess.

If tests always fail, nobody will

[2018-05-01 05:57] deepbrook commented on #186
Yepp, you're right - they need fixing. I disagree on them being useless, however. Anyone submitting their PRs should have run tests before submitting, making sure their tests pass, and no other tests break.

[2018-05-01 05:57] #183 closed, assigned to nobody

[2018-05-01 06:20] deepbrook commented on #185
Hey @firepol ,
good thinking!
The classes like `ETHBTCFormatter` were created for convenience, in order to have some commonly occurring pairs already provided as a formatter object.

I like the idea of extending the `str` class, though. If you'd like to submit a PR for this, I'd be happy to have a look at it.

[2018-05-01 06:36] #175 closed, assigned to nobody

[2018-05-01 06:40] deepbrook commented on #170
Above PR was merged on `dev`!

[2018-05-01 06:40] #170 closed

[2018-05-01 06:49] deepbrook opened #187 "Switch from unittest to pytest"

[2018-05-01 08:22] firepol commented on #186
Don't take me wrong, I don't think that disabling ALL tests is the way to go. But say there are these 2-3 annoying tests that always fail, what's the point to have them fail all the time? Disable them and create an issue (so t won't be forgotten) in github to fix the problem and re-enable them later. So at least all the other ones, the ones that are green, will prevail and the build will be green

[2018-05-01 08:30] firepol opened #188 "Why WSSAPI got removed in the dev branch?"
Hi, I read in the [dev Changelog](https://github.com/Crypto-toolbox/bitex/blob/dev/Changelog.md)

"Websocket APIs have been removed."

Why? I actually wanted to test the websockets in the dev branch, and it's a pity that they got removed. Are they too hard to maintain? Is there another library that does this?

I believe bitex is a very interesting project: the python library that supports many exc

[2018-05-01 10:27] deepbrook commented on #188
I've decided against WSS interface for bitex, as they're hard to unify as I did with the REST APIs.
The code has since been moved to [thoth](https://github.com/Crypto-toolbox/Thoth), but I'm not yet confident how to properly test the porject and there is a lot to be done.

[2018-05-01 10:27] #188 closed, assigned to nobody

[2018-05-01 17:40] firepol opened #190 "Dev branch, Binance, order_book formatted issue?"
Dev branch:

I did a test to understand how the formatted order_book should look like, here my test:

[code]
Result (I just included 3 bids and 3 asks for the sake of simplicity):
`OrderBook(bids=[['0.00009160', '10203.00000000', []], ['0.00009157', '1026.00000000', []], ['0.00009156', '465.00000000', []]], asks=[['0.00009163', '1096.00000000', []], ['0.00009164', '12.00000000', []], ['0.00009165'

[2018-05-02 06:06] deepbrook commented on #190
You're on the right track, yes!
Have a look at https://github.com/Crypto-toolbox/bitex/blob/master/bitex/formatters/base.py

There are examples for the expected outputs.

[2018-05-02 08:17] firepol commented on #190
Accoording to base, then it should be "in format [ts, price, size]":

[code]

Then this should be filed as a bug.

[2018-05-03 07:59] deepbrook commented on #190
It should be indeed. Or the docs changes - It may be better to sort the data by quality.

The thing is, `timestamp` is not always given, so some of them are generated by us. IT may be preferable to sort them as you guessed: `price, size, ts`.

[2018-05-03 12:38] firepol commented on #190
Ok, then we have 2 issues:

1) put timestamp in the end and update base.py accordingly, are there tests using that? Then need to update the tests too...

2) binance bids/asks look like this: `['0.00009160', '10203.00000000', []]`
which should rather look like this: `['0.00009160', '10203.00000000', '']` empty string, or None (not an empty array)... probably empty string is better since I understan

[2018-05-05 10:42] deepbrook commented on #190
`None` would be more appropriate IMO, since we actually do not receive any timestamp from the API. An empty string looks somewhat like a faulty parser.
Otherwise, that's all correct.

[2018-05-05 12:53] ZZQR commented on #97
@Razorbob
Hi Razorbob,
I use ubuntu 16.04 and have encountered a 400 issue as well. After spending hours, I found that there is a missing "/" in endpoint_path while creating signature (in bitex/api/REST/bitfinex.py):

`req['request'] = endpoint_path`
`req['nonce'] = self.nonce()`
`js = json.dumps(req)`
`data = base64.standard_b64encode(js.encode('utf8'))`

The value of req['request'] is "0/action"

[2018-05-11 11:05] torquemada163 opened #191 "Exchange Market order on Bitfinex with REST API"
Hello!

Do you can show me how make a Exchange Market order? And Exchange Limit, please!

Thanks!

[2018-05-11 12:01] torquemada163 opened #192 "Problem with Bitfinex ticker"
I insert in file ..api/REST/api.py string print(url) in:
[code]

This is my example:
[code]
And I see this in terminal:
[code]

If I did how write in docs:
[https://i.imgur.com/hkJfWh0.jpg](url)
`response = b.query('GET','pubticker', params={'symbol': 'BTCUSD'})`
I see the same output.....
What is wrong?

[2018-05-12 10:56] deepbrook commented on #192
`BitfinexRest` is the API class - it does no additional wrapping or insertion of parameters for you (except signature generation) hence, you need to do this:

[code]

If you're going to use the API classes, I suggest you familiarize yourself with the code and its doc strings.
Thanks for using bitex!

[2018-05-14 10:01] vottghern commented on #192
Show me, please, how I can make Exchange Market order with WSS and I shall use your WSS. ))))

[2018-05-14 15:53] deepbrook commented on #191
Here's an example.
[code]
`kwargs` can be any parameter supported by the bitfinex API.

In order to keep things organized, please do NOT post comments asking for help in other issues - I'm aware of all of them, and will reply as soon as I find the time. Thanks!

[2018-05-16 10:00] #192 closed, assigned to nobody

[2018-05-16 10:01] torquemada163 commented on #191
Thank you very much!

[2018-05-16 10:01] #191 closed, assigned to nobody

[2018-05-25 06:13] firepol opened #193 "Extend standardized methods (trade history, withdraw, withdraw history, deposit history, deposit address)"
Hi,

I just noticed (while working on it) that the **withdraw** method is not standardized. Normally, withdrawing crypto is quite a standard operation that every crypto exchange is offering (I've only noticed one exchange that doesn't implement this method: cex.io). So I think it would make a lot of sense to standardize this.

Every exchange needs some different parameters called differently, but

[2018-05-28 06:29] firepol opened #194 "binance exchange: 403 responses (dev branch)"
Hi,

can somebody please test the binance exchange api on the dev branch?

Public endpoints (ticker etc. work) but as soon as I try something related to my account I get 403 responses.

E.g. try the `wallet` method. I think the problem is related on how the request is signed.
I tried my api key/secret using a different library ([python-binance](https://github.com/sammchardy/python-binance)) and on

[2018-05-28 22:23] firepol commented on #194
There were several issues. The hardest to find was the one generated by this call:

`req_kwargs = super(BinanceREST, self).sign_request_kwargs(endpoint, **kwargs)`

[code]

The template returned had many empty dictionaries, one or all of them were causing the 403 errors.

Also the req_string for the GET calls was not including all the parameters.

See my PR. I tested basically all the methods, eve

[2018-05-29 06:18] firepol commented on #187
When you switch to pytest it would be really nice if you add a few commented examples and link to them from the contributing page. I'd put particular emphasis on how to fake data. Maybe some responses can be copied / pasted from other libraries (not necessarily in python, many are in nodejs, but we can take json responses from any place as long as they are valid).

[2018-05-29 07:40] firepol commented on #190
Probably you've seen my binance PR, but I didn't address this issue. I tried to have a look at this, but I'm having some difficulty to understand how it works:

`formatters/binance.py`
[code]

`base.py`
[code]

The namedtuple creates the array containing the bids, the asks, timestamp and error. So far so good.

But I don't understand where do you configure how a single value of the array can be ch

[2018-05-31 09:19] SelfMadeDev opened #196 "Add Stocks.Exchange"
Could you add Stocks.Exchange to the project?

Url: http://help.stocks.exchange/api-integration/

[2018-05-31 09:20] SelfMadeDev opened #197 "Add Graviex Exchange"
Could you add Graviex Exchange to the project?

Url: https://graviex.net/documents/api_v2?lang=en

[2018-06-07 12:12] deepbrook commented on #190
You'd have to loop over `bids` and `asks` before passing them to the super() call, I'd assume.

[2018-06-07 17:20] thinkpad10 opened #198 "Logo proposal"
Greetings, Im the Co-Founder of ThinkPad, we are an independent graphic design company, actually we are in constantly upgrowth looking for new challenges, this one particularly call a lot my attention and i`ll will like to help you with, me and my professional partners would be more than pleased to collaborate with your project.

With nothing more to add, we`ll be waitng for your answer, have a ni

[2018-07-26 05:24] omniscientcorp opened #199 "How to get data from public APIs?"
Hi, I'm trying to get data from the public API, using bitex.interfaces

[code]

Gives me the following error:

`return_api_response: HTTPError for url https://api.gemini.com/v1/pubticker/BTC-USD
Traceback (most recent call last):
  File "/home/aismail/anaconda3/lib/python3.6/site-packages/bitex/utils.py", line 40, in wrapper
    r.raise_for_status()
  File "/home/aismail/anaconda3/lib/python3.6/si

[2018-11-17 05:24] raoden1 commented on #199
[code]

That seems to work after small modification in gemini.py :
[code]
Originally was:
[code]

[2018-12-03 23:48] Jwely opened #200 "Bitex no longer under development?"
Hi all, coming back to some crypto related programming and finding that this repo, which had some API's marked for deprecation, has in fact not changed at all for nearly a year.

Is this repo abandoned?

[2018-12-04 06:57] deepbrook commented on #200
Hey @Jwely ,
Thanks for reaching out!
It's currently not actively being maintained, unfortunately. I started working full time a year ago and had some pretty big personal changes which limit my available time.
I have been relying on contributors for all my projects over this time.
I will be on parental leave starting mid February and hope to have more time to get up to speed with my projects here

[2018-12-04 08:29] deepbrook opened #201 "Project State and Maintenance"
Hey everyone,

Please note that due to personal changes over the last year, I was not able to properly maintain this project. I did work on it, but most of it included trying things out, behind the scenes and in a very opaque manner.

I appreciate everyone opening issues and submitting pull requests to this project - it reminds me that this project is indeed a useful addition to the FOSS community

[2018-12-04 14:18] #200 closed, assigned to nobody

[2019-02-15 09:44] deepbrook opened #202 "**Inject plugged-in Response Class**"
Extend requests.HTTPAdapter to inject a custom BitexResponse class.

[2019-02-15 09:45] deepbrook opened #203 "Default Hook"
Implement default hook as a fallback if no plugin is found.

[2019-02-15 09:45] deepbrook opened #204 "HookSpec"
Implement Hookspec for registering bitex plugins.

[2019-02-15 11:51] deepbrook opened #205 "Unittests for BitexAuth"
Define and write unittests for the BitexAuth class.

[2019-02-15 11:53] deepbrook opened #206 "Implement BitexAuth"
The Auth class should default to doing nothing.
In addition, a nonce() method, which returns a millisecond ts as a str needs to implemented as a static method.

Additionally, properties to convert secret and api key to bytes on the fly is useful.

Finally, a method to unparse the passed request's body; this may be required by some exchanges, as they generate their signature from the request's para

[2019-02-15 12:57] deepbrook opened #207 "Inject BitexPreparedRequest in Request class."
When making requests, we need to inject plugged-in BitexPreparedRequest and subclasses thereof.

[2019-02-16 10:05] #207 closed, assigned to nobody

[2019-02-16 10:05] #206 closed, assigned to nobody

[2019-02-16 10:06] #205 closed, assigned to nobody

[2019-02-16 10:06] #204 closed, assigned to nobody

[2019-02-16 10:06] #202 closed, assigned to nobody

[2019-02-16 10:06] deepbrook commented on #203
implemented with commit for #204

[2019-02-16 10:06] #203 closed, assigned to nobody

[2019-02-16 10:09] deepbrook opened #208 "Issues: Review and iterate Labels"
Some labels will become deprecated / unnecessary with version 3.0, while we will need to create new ones to accomodate for new features / topics related to said version.

In the scope of this topic, document all labels properly, in both the contributing guide as well as RTD.

[2019-02-16 10:11] deepbrook opened #209 "CI: Update RTD on merged PRs"
Add a documentation generation step to the pipeline, in order to keep our RTD page up-to-date.

[2019-02-16 10:11] deepbrook opened #210 "Docs: Write Guide on how to install and use Plugins"
Should Cover:
- Pip install steps
- How to use Bitex Shorthand when making requests (using plugins)

[2019-02-16 10:12] deepbrook opened #211 "Docs: In-Depth Getting-Started-Guide"
Should cover:
- Design philosophy of BitEx
- How it integrates into requests
- Coverage of *all* of Bitex classes' features

[2019-02-16 10:12] deepbrook opened #212 "Docs: Guidelines for Plugin Writers"
Should cover:
- Everything covered in Contributing (code style, testing philosophy, etc)
- Plugin Architecture
- Reference to Pluggy (the used plugin system)
- A simple tutorial on writing a plugin
- Reference implementation (see crypto-toolbox/bitex-kraken)

[2019-02-16 10:13] deepbrook opened #213 "Docs: Write Quick Start Guide"
Should cover:
- Installation
- Importing
- Sending a Request to an Exchange
- Using its response
- Overview of Bitex's classes' main features

[2019-02-16 10:13] deepbrook opened #214 "Docs: Supply Documentation on RTD"
Documentation should live in the repository directly, under `docs/`

[2019-02-16 10:13] deepbrook opened #215 "Docs: Render API Spec From Codebase to RTD"
Supply a section on Bitex's RTD which lists all of the code base's modules and renders their doc strings.

[2019-02-16 10:13] deepbrook opened #216 "Docs: Author Proper Contributing Guide"
The guide should cover:

- Guide on Issue Reporting
- Code Style for PRs
- Testing Philosophy
- PR Requirements
- Git Commit Philosophy and Style Guide

[2019-02-16 10:14] deepbrook opened #217 "CI: Supply Configuration for Pyre Linter"
Supply the ocnfiguration for the linter, as used when run against PRs.

Supply the configuration as a config file, and allow running the linter via a make command.

[2019-02-16 10:14] deepbrook opened #218 "CI: Supply Configuration for PyDocStyle Linter"
Supply the ocnfiguration for the linter, as used when run against PRs.

Supply the configuration as a config file, and allow running the linter via a make command.

[2019-02-16 10:14] deepbrook opened #219 "CI: Supply Configuration for Flake8 Linter"
Supply the ocnfiguration for the linter, as used when run against PRs.

Supply the configuration as a config file, and allow running the linter via a make command.

[2019-02-16 10:14] deepbrook opened #220 "CI: Run Integration/Functional tests against PR"
- Reject PR if tests failed

[2019-02-16 10:14] deepbrook opened #221 "CI: Run Unit Tests agains PR and report coverage Change"
- Reject PR if coverage dropped
- Reject PR if tests failed

[2019-02-16 10:15] deepbrook opened #222 "CI: Run Linters on PRs"
- Run Flake8 on PR
- Run PyDocStyle on PR
- Run Pyre on PR

Reject PR if any of the linters failed.

[2019-11-23 07:54] deepbrook commented on #213
Done

[2019-11-23 07:54] #213 closed, assigned to nobody

[2019-11-23 07:55] deepbrook commented on #217
We'll skip this for now. As the project is slimmed down significantly, a static type checker is not that necessary any more (is a nice to have though, at some point).

[2019-11-23 07:55] #217 closed, assigned to nobody

[2019-11-23 07:56] deepbrook commented on #219
Added black/flake8/isort config to pyproject.toml

[2019-11-23 07:56] #219 closed, assigned to nobody

[2019-11-23 07:59] deepbrook commented on #187
Refactored the entire test suite to use pytest. In regards to the examples on how to fake data, we'll use `responses` to supply an API fixture which will take care of faking the exchange interface.

[2019-11-23 07:59] #187 closed, assigned to deepbrook